**OBLIGATORIO FINAL G448 - Data Wrangling**
<br>**INTEGRANTES:**
<br>
+ Theo Pereira, 5703834-3, theopereira2001@gmail.com
+ Carlos Píriz, 4298784-4, piriz.carlos@gmail.com
+ Gabriel	Better,3138871-2, gabrielbetter@gmail.com

In [472]:
### Importacion de librerias ###

# Sistema
import os

# Tratamiento de datos
import pandas as pd
import numpy as np
import datetime as dt
import math

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Visualizacion 
import seaborn as sns
import matplotlib as mpl
from matplotlib import ticker
from matplotlib.ticker import FuncFormatter
from babel.numbers import format_currency
import matplotlib.pyplot as plt
%matplotlib inline

**CONSIGNAS**
<br>
El objetivo general es realizar un análisis exploratorio de los anuncios inmobiliarios de
algunas provincias de la Patagonia Argentina reportados por el portal Airbnb.
<br>
Los datos están conformados por cuatro archivos csv:
+ Neuquen.csv
+ Rio_Negro.csv
+ Chubut.csv
+ Tierra_del_Fuego.csv

**<h1>1. Carga de datos y armado del dataset</h1>**

In [473]:
# Carga de archivos de datos de chubut
df_chubut = pd.read_csv('https://raw.githubusercontent.com/carlos1680/CPEDWObligatorio/main/Chubut.csv')
df_chubut["provincia"]="CHUBUT"
df_chubut.sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
87,903126420705158954,Downtown and Beach with seaview,entire_home,Nuevo,Puerto Madryn,-42.767130,-65.032730,"['2 camas', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,$34 USD,$42 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
63,29591102,Habitación en pleno centro para 1 persona,private_room,"5,0 (7)",Trelew,-43.250099,-65.311165,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-01,2023-07-06,NaN,$18 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
18,53472591,On the Spot!(5pax) Pto Madryn - centro 50m del...,entire_home,"4,77 (44)",Puerto Madryn,-42.767826,-65.033134,"['3 camas', '2 dormitorios', '1 baño', '2 cama...",2023-07-01,2023-07-06,NaN,$61 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
107,39340707,"""Cerros Nevados"" departamento tipo loft.",entire_home,"4,96 (27)",Trevelin,-43.079100,-71.461710,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$55 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
41,787139916703144070,"Luz, confort y garaje, 2 del mar",entire_home,"5,0 (10)",Puerto Madryn,-42.767240,-65.037240,"['1 cama', 'Monoambiente', '1 baño', 'Califica...",2023-07-01,2023-07-06,NaN,$45 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
33,37128706,Nuestro hogar Pirámides,entire_home,"4,9 (20)",Puerto Pirámides,-42.567490,-64.270210,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-10,2023-07-16,NaN,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
245,13941382,Cabañas MARI MARI (PUELO),entire_home,NaN,El Hoyo,-42.057100,-71.541730,"['No hay evaluaciones', '3 camas', '2 dormitor...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
206,914649068770847086,Alquiler temporario,entire_home,Nuevo,Comodoro Rivadavia,-45.842565,-67.473948,"['1 cama', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,NaN,$25 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
118,887853891920643116,"Luma, tu lugar feliz en el sur",entire_home,Nuevo,Esquel,-42.917491,-71.294685,"['1 cama', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,$34 USD,$42 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
93,709585936691929156,"Phira rojo, habitación con vista al mar",private_room,"4,73 (11)",Puerto Pirámides,-42.570180,-64.278739,"['1 cama', '1 dormitorio', '1 baño privado']",2023-08-28,2023-09-02,NaN,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT

In [474]:
# Carga de archivos de datos de Neuquen
df_neuquen = pd.read_csv('https://raw.githubusercontent.com/carlos1680/CPEDWObligatorio/main/Neuquen.csv')

df_neuquen["provincia"] = "NEUQUEN"

df_neuquen.sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
146,45759058,Departamento amoblado a nuevo,entire_home,"4,73 (11)",Cipolletti,-38.942960,-67.982410,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$57 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
199,896280194416783327,Aires de la Costa,entire_home,Nuevo,Neuquén,-38.974180,-68.043335,"['2 camas', 'Monoambiente', '1 baño', 'Estacio...",2023-07-01,2023-07-06,NaN,$50 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
229,16691196,30% de descuento. Casa de dormitorios completa...,entire_home,"4,41 (22)",Neuquén,-38.932810,-68.152090,"['4 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-06,NaN,$99 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
255,791822527552782007,Compras en Dpto Alto Comahue,entire_home,NaN,Neuquén,-38.943280,-68.064730,"['No hay evaluaciones', '3 camas', '2 dormitor...",2023-07-01,2023-07-06,NaN,$59 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
125,863566985727115033,Dúplex Hermoso y Luminoso!,entire_home,NaN,Neuquén,-38.921061,-68.080196,"['No hay evaluaciones', '3 camas', '3 dormitor...",2023-07-01,2023-07-07,$94 USD,$118 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
184,865981864850437447,"Mono ambiente ""El Vasco""",private_room,Nuevo,Neuquén,-38.947928,-68.087324,"['No hay evaluaciones', '1 cama', '1 dormitori...",2023-07-01,2023-07-06,NaN,$27 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
42,28673402,Limay Bed&Breakfast Séxtuple,entire_home,"5,0 (6)",Neuquén,-38.979370,-68.061220,"['6 camas', '1 dormitorio', '1 baño', 'Estacio...",2023-07-01,2023-07-08,NaN,$156 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
122,26215495,Cómodo departamento en el Centro de Cipolletti.,entire_home,"4,89 (19)",Cipolletti,-38.942310,-67.989640,"['3 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-08,$47 USD,$52 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
158,53934589,Casa moderna y tranquila en un amplio terreno,entire_home,Nuevo,Cipolletti,-38.904470,-67.994720,"['No hay evaluaciones', '4 camas', '3 dormitor...",2023-07-01,2023-07-06,NaN,$138 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
89,579026916207068038,Monoambiente nivel ejecutivo zona centro Neuquén.,entire_home,NaN,Neuquén,-38.953239,-68.063423,"['2 camas', 'Monoambiente', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$36 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN

In [475]:
# Carga de archivos de datos de Rio Negro
df_rio_negro = pd.read_csv('https://raw.githubusercontent.com/carlos1680/CPEDWObligatorio/main/Rio_Negro.csv')

df_rio_negro["provincia"] = "RIO NEGRO"

df_rio_negro.sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
79,52109877,Container Studio,entire_home,"5,0 (53)",San Carlos de Bariloche,-41.146350,-71.412320,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-27,2023-09-01,$45 USD,$52 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
49,49107072,Contenedor-loft,entire_home,"4,91 (55)",San Carlos de Bariloche,-41.134950,-71.325710,"['1 cama', '1 dormitorio', '1 baño', '1 cama k...",2023-10-26,2023-11-01,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
40,881218792320627389,Tiny house en el bosque,entire_home,Nuevo,San Martin de los Andes,-40.095194,-71.303187,"['1 cama', '1 dormitorio', '1 baño', 'Estacion...",2023-07-01,2023-07-06,NaN,$75 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
87,42373463,Depto. Vista Nahuel Huapi,entire_home,"4,34 (94)",San Carlos de Bariloche,-41.134370,-71.316880,"['1 cama', 'Monoambiente', '1 baño', '1 sofá c...",2023-08-31,2023-09-05,NaN,$62 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
151,554319517238694179,Cabaña Raulí para 8 con jacuzzi,entire_home,"4,94 (17)",San Carlos de Bariloche,-41.145020,-71.412740,"['7 camas', '4 dormitorios', '1 ,5 baños', '2 ...",2023-09-05,2023-09-11,$157 USD,$185 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
200,6993416,Cabaña Lago Bahía Protegida Costa Lago,entire_home,"4,92 (100)",San Carlos de Bariloche,-41.098340,-71.446220,"['6 camas', '2 dormitorios', '2 baños', 'Estac...",2023-08-12,2023-08-17,NaN,$300 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
113,48254202,Gartehütte,entire_home,"4,96 (50)",San Carlos de Bariloche,-41.110810,-71.425520,"['1 cama', 'Monoambiente', '1 baño', '1 cama q...",2023-09-06,2023-09-12,NaN,$30 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
261,22978524,Studio Buda. Bonito luminoso y acogedor. H028910,entire_home,"4,92 (61)",San Carlos de Bariloche,-41.138260,-71.325540,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-01,2023-07-06,NaN,$80 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
4,35064808,"Cabaña en el bosque, Bariloche, Patagonia",entire_home,"5,0 (58)",Bariloche,-41.049420,-71.501500,"['3 camas', '2 dormitorios', '1 baño', 'Estaci...",2023-09-04,2023-09-09,NaN,$122 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
32,53404054,Peta Lodge Patagonia II,entire_home,"4,88 (67)",San Carlos de Bariloche,-41.119630,-71.380870,"['3 camas', '1 dormitorio', '2 baños', 'Wifi',...",2023-09-20,2023-09-25,$122 USD,$139 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

In [476]:
# Carga de archivos de datos de Tierra delFuego
df_tierra_del_fuego = pd.read_csv('https://raw.githubusercontent.com/carlos1680/CPEDWObligatorio/main/Tierra_del_Fuego.csv')

df_tierra_del_fuego["provincia"] = "TIERRA DEL FUEGO"

df_tierra_del_fuego.sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
155,20441841,"Acogedora habitación para 4 personas, entrada ...",private_room,"4,82 (73)",Ushuaia,-54.796460,-68.313900,"['4 camas', '2 dormitorios', '1 baño privado',...",2023-07-13,2023-07-20,NaN,$21 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
151,53026452,Apartamento con balcón.,entire_home,NaN,Ushuaia,-54.799970,-68.283020,"['No hay evaluaciones', '2 camas', '1 dormitor...",2023-07-01,2023-07-06,NaN,$75 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
192,837061192294336671,Loft del Fin del Mundo,entire_home,"5,0 (3)",Ushuaia,-54.831543,-68.353667,"['3 camas', '1 dormitorio', '1 ,5 baños', 'Wif...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
181,40803781,Shalom del sur 2,entire_home,"5,0 (16)",Ushuaia,-54.822550,-68.331190,"['2 camas', '1 dormitorio', '1 baño', '2 camas...",2023-07-01,2023-07-06,NaN,$36 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
259,738224105784766502,Ruta 3,entire_home,"5,0 (5)",Ushuaia,-54.819590,-68.350290,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-08,2023-07-13,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
66,853572791021667394,Ushuaia54 II,entire_home,"5,0 (3)",Ushuaia,-54.826597,-68.362357,"['2 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,$29 USD,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
207,831611894265914063,Ushuaia home,private_room,"4,5 (4)",Ushuaia,-54.821110,-68.326990,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-01,2023-07-06,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
205,903056815345574639,Terrazas del Sur,entire_home,Nuevo,Ushuaia,-54.798545,-68.308509,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-07-30,2023-08-04,$36 USD,$45 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
189,4654145,DEPARTAMENTO VIDA - LOS CANELOS,entire_home,"4,76 (122)",Ushuaia,-54.807800,-68.324020,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
7,42025621,Lengas Loft,entire_home,NaN,Ushuaia,-54.832146,-68.356553,"['3 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-07-20,2023-07-27,$22 USD,$24 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

In [477]:
# Verificacion de columnas para concatenar
(df_chubut.columns == df_neuquen.columns) & (df_rio_negro.columns == df_tierra_del_fuego.columns) & (df_chubut.columns == df_tierra_del_fuego.columns)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [478]:
# Concatenacion de los dataframes separados por provincias en un unico archivo
df_alquileres = pd.concat([df_chubut, df_neuquen, df_rio_negro, df_tierra_del_fuego])
df_alquileres.sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
129,42084544,Departamento amoblado de un dormitorio 43m2.,entire_home,"4,67 (3)",Río Grande,-53.772110,-67.717980,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$42 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
219,29800413,Ruta de la Patagonia cabaña ecologica 40 #1,entire_home,"4,96 (102)",San Martin de los Andes,-40.312720,-71.380690,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-08-15,2023-08-20,NaN,$44 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
134,52994498,Petit House II.,private_room,"4,82 (45)",BAX,-54.808320,-68.315950,"['2 camas', '1 dormitorio', 'Wifi', 'Cocina', ...",2023-07-01,2023-07-06,NaN,$37 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
110,813190673021540204,Habitación en casa del bosque.,private_room,"5,0 (6)",San Carlos de Bariloche,-41.133472,-71.310278,"['1 cama', '1 dormitorio', '1 baño', 'Estacion...",2023-08-07,2023-08-12,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
5,42407010,Luminoso Centro + Cochera (50mts RN22),entire_home,"4,56 (94)",BVH,-38.959240,-68.051260,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-07,NaN,$23 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
166,4585169,Casa de montaña serena. A poca distancia en au...,entire_home,"4,93 (14)",El Hoyo,-42.107870,-71.520300,"['3 camas', '3 dormitorios', '1 baño', '1 cama...",2023-09-09,2023-09-15,NaN,$80 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
87,27328190,Ushuaia Departamento,entire_home,"4,98 (94)",Ushuaia,-54.819510,-68.345760,"['4 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-29,2023-08-03,NaN,$36 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
219,49179716,Moderno departamento para 4 personas,entire_home,"4,67 (3)",Cipolletti,-38.948870,-67.983440,"['4 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-08-17,2023-08-22,NaN,$47 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
77,765212466826049144,Mirabeagle 8,entire_home,"4,8 (5)",Ushuaia,-54.837470,-68.364630,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-07-01,2023-07-06,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
98,30622116,"Cabaña en el bosque, cerca del centro de Ski",entire_home,"4,84 (69)",San Carlos de Bariloche,-41.149770,-71.407050,"['1 baño', '1 cama queen', 'Estacionamiento gr...",2023-07-07,2023-07-12,NaN,$63 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

In [479]:
# Reseteo del index, permitiendo duplicados porque aun no sabemos si son unicos los valores
# df_alquileres.reset_index(names = 'id_alojamiento', drop=True,inplace=True,allow_duplicates= True)
# df_alquileres.reset_index(names = 'id_alojamiento', drop=True,inplace=True,allow_duplicates= False)
df_alquileres.reset_index(drop=True,inplace=True)

*Verificacion de filas de los dataframes*

In [480]:
# Verificacion de la cantidad de filas de cada dataframe
print("La cantidad de filas del dataframe de Chubut es:"+str(df_chubut.shape[0]))
print("La cantidad de filas del dataframe de Neuquen es:"+str(df_neuquen.shape[0]))
print("La cantidad de filas del dataframe de Rio Negro es:"+str(df_rio_negro.shape[0]))
print("La cantidad de filas del dataframe de Tierra del fuego es:" + str(df_tierra_del_fuego.shape[0]))
print("La cantidad de filas del dataframe unificado de alquileres es:" + str(df_alquileres.shape[0]))

La cantidad de filas del dataframe de Chubut es:270
La cantidad de filas del dataframe de Neuquen es:270
La cantidad de filas del dataframe de Rio Negro es:270
La cantidad de filas del dataframe de Tierra del fuego es:270
La cantidad de filas del dataframe unificado de alquileres es:1080

*Verificacion de las columnas de los dataframes*

In [481]:
# Verificacion de la cantidad de columnas de cada dataframe
print("La cantidad de columnas del dataframe de Chubut es:" +
      str(df_chubut.shape[1]))
print("La cantidad de columnas del dataframe de Neuquen es:" +
      str(df_neuquen.shape[1]))
print("La cantidad de columnas del dataframe de Rio Negro es:" +
      str(df_rio_negro.shape[1]))
print("La cantidad de columnas del dataframe de Tierra del fuego es:" +
      str(df_tierra_del_fuego.shape[1]))
print("La cantidad de columnas del dataframe unificado de alquileres es:" +
      str(df_alquileres.shape[1]))

La cantidad de columnas del dataframe de Chubut es:18
La cantidad de columnas del dataframe de Neuquen es:18
La cantidad de columnas del dataframe de Rio Negro es:18
La cantidad de columnas del dataframe de Tierra del fuego es:18
La cantidad de columnas del dataframe unificado de alquileres es:18

*Verificacion general e inicial del dataframe unificado*

In [482]:
# Informacion de las columnas, sus tipos y faltantes
df_alquileres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_alojamiento    1080 non-null   int64
 1   name              1080 non-null   object
 2   category          1080 non-null   object
 3   rating            886 non-null    object
 4   city              1076 non-null   object
 5   latitude          1080 non-null   float64
 6   longitude         1080 non-null   float64
 7   characteristics   1080 non-null   object
 8   check_in          1080 non-null   object
 9   check_out         1080 non-null   object
 10  price_discounted  201 non-null    object
 11  price_original    1080 non-null   object
 12  price_qualifier   1080 non-null   object
 13  cant_resultados   1080 non-null   int64
 14  fecha_scrapping   1080 non-null   object
 15  fecha_cambio_bna  1080 non-null   object
 16  cambio_bna        1080 non-null   float64
 17  provincia         1080 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 152.0+ KB

In [483]:
# Informacion de las columnas, sus tipos y faltantes
df_alquileres.describe()

       id_alojamiento     latitude    longitude  cant_resultados   cambio_bna
count    1.080000e+03  1080.000000  1080.000000      1080.000000  1080.000000
mean     3.685341e+17   -44.426201   -68.723924       824.500000   239.919355
std      3.903051e+17     6.164758     2.159715       304.115744     0.000000
min      4.468310e+05   -54.844914   -71.688000       298.000000   239.919355
25%      3.529220e+07   -47.854503   -71.310280       824.500000   239.919355
50%      5.408344e+07   -42.003780   -68.305610      1000.000000   239.919355
75%      7.872495e+17   -39.609811   -68.049328      1000.000000   239.919355
max      9.198428e+17   -38.874370   -62.920960      1000.000000   239.919355

In [484]:
# Informacion de las columnas, sus tipos y faltantes
df_alquileres.duplicated(keep="first").sum()

51

In [485]:
# Informacion de las columnas, sus tipos y faltantes
df_alquileres.isna().sum()

id_alojamiento        0
name                  0
category              0
rating              194
city                  4
latitude              0
longitude             0
characteristics       0
check_in              0
check_out             0
price_discounted    879
price_original        0
price_qualifier       0
cant_resultados       0
fecha_scrapping       0
fecha_cambio_bna      0
cambio_bna            0
provincia             0
dtype: int64

*Conclusiones iniciales*
<br>
+ El dataframe unificado, coincide en cantidad de filas y columnas correspondientes a los dataframes individuales
+ Debemos de corregir algunos tipos de datos de columnas
+ Tenemos algunas columnas para reescalar
+ Tenemos filas duplicadas para revisar
+ Tenemos valores nulos para revisar, en principio para las columnas rating y price_discounted

**<h1>2. Análisis de duplicados</h1>**

*Analisis y tratamiento de duplicados global*

In [486]:
# Verifico los duplicados, que coinciden en toda la fila
df_alquileres.duplicated(keep="first").sum()

51

In [487]:
#  Listo los valores duplicados
df_alquileres[df_alquileres.duplicated(keep="first")]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
54,40755147,La Amarilla Casa de Huéspedes (con cocina) Rut...,entire_home,"4,93 (27)",Epuyén,-42.227509,-71.362289,"['2 camas', '1 dormitorio', '1 ,5 baños', '1 c...",2023-07-01,2023-07-06,NaN,$45 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
72,586216477715336949,Encantador dpto. con vista al mar en Puerto Ma...,entire_home,"5,0 (11)",Puerto Madryn,-42.771633,-65.029068,"['3 camas', '2 dormitorios', '2,5 baños', 'Cal...",2023-07-06,2023-07-11,NaN,$131 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
90,37836757,Rincón del Sol,entire_home,"4,4 (5)",Puerto Madryn,-42.751650,-65.053520,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$18 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
113,736253141994173324,Refugio Ciprés con tina de agua caliente,entire_home,"5,0 (4)",Trevelin,-42.968260,-71.601320,"['1 cama', '1 dormitorio', '1 baño', 'Califica...",2023-07-01,2023-07-06,NaN,$45 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
127,21925703,Hermoso Duplex con Patio y Parrilla. (4 pax).,entire_home,"4,81 (74)",Puerto Madryn,-42.787700,-65.023850,"['3 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-06,NaN,$57 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
128,644043911246503372,"Los Molles, casa familiar en entorno natural.",entire_home,NaN,Puerto Madryn,-42.735607,-65.100117,"['3 camas', '2 dormitorios', '1 baño']",2023-07-01,2023-07-07,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
129,883174783781736766,Espacio 2 - Rada Tilly,entire_home,Nuevo,Rada Tilly,-45.925810,-67.575650,"['1 cama', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,NaN,$52 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
138,53298317,Mar de Olivillos Planta alta,entire_home,"5,0 (12)",Puerto Piramides,-42.569200,-64.273610,"['2 camas', 'Monoambiente', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$75 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
162,31081731,"Domos Puelo, para dos, con jacuzzi",entire_home,"4,98 (40)",Lago Puelo,-42.041570,-71.592370,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-08,2023-07-15,NaN,$67 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
182,50704005,Hostel patagónico con vista 360 de la Cordillera,shared_room,"4,86 (7)",Trevelin,-43.071450,-71.454920,"['20 camas', '4 dormitorios', '3,5 baños compa...",2023-07-01,2023-07-06,NaN,$17 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
189,800916516894617209,"Cómodas Habitaciones, 50 m del Mar con Desayun...",entire_home,Nuevo,Puerto Madryn,-42.754790,-65.036600,"['5 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-06,NaN,$43 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
216,53336620,Comodo Monoambiente en puerto madryn,entire_home,"5,0 (16)",Puerto Madryn,-42.767020,-65.037330,"['1 cama', 'Monoambiente', '1 baño', '1 cama q...",2023-07-03,2023-07-10,$48 USD,$55 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
221,54362650,"""Ty Bychan"" \nLa Casita. Entre raíces galesas.",entire_home,"5,0 (3)",Gaiman,-43.286520,-65.494660,"['3 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-06,NaN,$32 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
234,807474929736554545,Cabaña de Playa. Bajada 7,entire_home,NaN,Puerto Madryn,-42.786321,-65.014769,"['No hay evaluaciones', '3 camas', '1 dormitor...",2023-08-01,2023-08-07,NaN,$26 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
247,41936762,El Tornado B,entire_home,"4,71 (7)",Comodoro Rivadavia,-45.886100,-67.542660,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
253,909336244153347770,Bella Vista 2,entire_home,Nuevo,Esquel,-42.917491,-71.294685,"['4 camas', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,$52 USD,$65 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
255,803666373797660065,Casa nueva equipada con patio,entire_home,"5,0 (5)",Puerto Madryn,-42.787870,-65.024040,"['4 camas', '1 dormitorio', '1 baño', 'Calific...",2023-07-02,2023-07-07,NaN,$64 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
265,914317237704080953,"Dep,AlquilerTemporario,Acogedor",entire_home,Nuevo,Comodoro Rivadavia,-45.842394,-67.473636,"['1 cama', '1 dormitorio', '1 baño']",2023-07-01,2023-07-06,NaN,$25 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
630,25286446,Casita Hillside,entire_home,"4,94 (79)",San Carlos de Bariloche,-41.046010,-71.515840,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-03,2023-07-08,NaN,$120 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
720,4635954,"ESTUDIO A 20 METROS DEL CIVICO CENTER, VISTA A...",entire_home,"4,68 (175)",San Carlos de Bariloche,-41.133920,-71.310280,"['1 cama', 'Monoambiente', '1 ,5 baños', 'Wifi...",2023-08-03,2023-08-08,NaN,$96 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
756,38777312,Cabañas Waldesruh,entire_home,"4,9 (31)",Villa Traful,-40.648600,-71.418790,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$70 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
757,37245663,Preciosa cabaña en el bosque de Llaollao con v...,entire_home,"4,8 (30)",San Carlos de Bariloche,-41.050790,-71.534950,"['6 camas', '4 dormitorios', '1 baño', '1 cama...",2023-07-01,2023-07-06,NaN,$90 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
828,604911298357239989,IBF SKY - Ushuaia Apartment,entire_home,"4,93 (27)",Ushuaia,-54.807125,-68.318497,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-01,2023-07-06,NaN,$95 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
832,711705563371014313,C) Cama en cuarto mixto compartido,shared_room,"4,91 (11)",Ushuaia,-54.796494,-68.298038,"['1 cama', '1 dormitorio', '1,5 baños comparti...",2023-07-05,2023-07-10,NaN,$12 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
846,39446425,"Cozy Flat, with incredible views.",entire_home,"4,95 (66)",Ushuaia,-54.804920,-68.314340,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-16,2023-08-21,$51 USD,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
850,54314756,Infinity View Pent House III,entire_home,"4,77 (13)",Ushuaia,-54.806600,-68.317780,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-08-02,2023-08-09,$97 USD,$108 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
852,604911298357239989,IBF SKY - Ushuaia Apartment,entire_home,"4,93 (27)",Ushuaia,-54.807125,-68.318497,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-01,2023-07-06,NaN,$95 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
882,710167445018555343,Apartamento Amundsen 6J - Estudio - Ushuaia,entire_home,"4,87 (23)",Ushuaia,-54.809940,-68.320560,"['2 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,NaN,$48 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
885,40366875,H) Cama en cuarto mixto compartido,shared_room,"4,91 (23)",Ushuaia,-54.796459,-68.297798,"['1 cama', '1 dormitorio', '1,5 baños comparti...",2023-07-01,2023-07-06,NaN,$12 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
893,755135392594127489,Encantadoras vistas del canal de beagle - Amun...,entire_home,"5,0 (19)",Ushuaia,-54.810100,-68.319410,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,NaN,$85 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
922,38919535,Moderno y luminoso estudio en pleno centro.,entire_home,"4,93 (42)",Ushuaia,-54.803980,-68.298800,"['3 camas', 'Monoambiente', '1 baño', '4 camas...",2023-07-01,2023-07-06,NaN,$75 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
943,570310791164532435,Casa barrio de sueños,entire_home,"4,62 (21)",Ushuaia,-54.840640,-68.376460,"['1 cama', '1 dormitorio', '2 baños', 'Wifi', ...",2023-07-07,2023-07-12,NaN,$76 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
954,2942774,Room with incredible sea and mountains view,private_room,"4,66 (228)",Ushuaia,-54.795490,-68.313810,"['2 camas', '1 dormitorio', '1 cama doble', '1...",2023-07-01,2023-07-06,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
971,24852036,Mi Casa Es Su Casa,entire_home,"4,2 (20)",Rio Grande,-53.783470,-67.702090,"['4 camas', '2 dormitorios', '1 baño', '4 cama...",2023-07-01,2023-07-06,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
989,53797805,"Humilde hogar, en el corazón de Ushuaia",entire_home,"4,35 (40)",Ushuaia,-54.815600,-68.326950,"['3 camas', '2 dormitorios', '1 baño', '1 cama...",2023-07-14,2023-07-19,NaN,$23 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
993,48043650,Latitud Sur Ushuaia,entire_home,"4,95 (22)",Ushuaia,-54.810780,-68.327640,"['2 camas', 'Monoambiente', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1001,776661041221694371,Lindo estudio céntrico y moderno,entire_home,"4,93 (15)",Ushuaia,-54.804910,-68.302050,"['2 camas', 'Monoambiente', '1 baño', '4 camas...",2023-07-01,2023-07-06,$51 USD,$77 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1008,751515304138637905,Agradable cabaña con amplias dimensiones.,entire_home,NaN,Tolhuin,-54.507803,-67.201997,"['8 camas', '3 dormitorios', '1 baño', 'Wifi',...",2023-07-01,2023-07-06,NaN,$79 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1009,837061192294336671,Loft del Fin del Mundo,entire_home,"5,0 (3)",Ushuaia,-54.831543,-68.353667,"['3 camas', '1 dormitorio', '1 ,5 baños', 'Wif...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1010,847640105410806361,Mini casa,entire_home,NaN,Río Grande,-53.782990,-67.696630,"['2 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-15,2023-07-20,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1011,54301035,Departamento de 2 ambientes -vista al Canal Be...,entire_home,NaN,Ushuaia,-54.793920,-68.275400,"['No hay evaluaciones', '3 camas', '1 dormitor...",2023-07-07,2023-07-13,NaN,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1017,831611894265914063,Ushuaia home,private_room,"4,5 (4)",Ushuaia,-54.821110,-68.326990,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-01,2023-07-06,NaN,$28 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1018,54258723,NEW APARTMENT - LAS CUMBRES USHUAIA,entire_home,NaN,Ushuaia,-54.818920,-68.332450,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-17,2023-07-23,$35 USD,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1032,53445794,Departamento con excelente ubicación y vistas,entire_home,"4,91 (22)",Ushuaia,-54.808500,-68.320390,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-06,2023-07-12,NaN,$75 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1046,626675407573680894,Precioso Departamento A,entire_home,"4,85 (26)",Ushuaia,-54.807700,-68.317690,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1054,906355891628807276,Grand House,entire_home,Nuevo,Ushuaia,-54.806780,-68.315870,"['5 camas', '2 dormitorios', '2 baños', 'Wifi'...",2023-07-03,2023-07-09,$140 USD,$175 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1060,858196681965117698,La Tempranera del Beagle,entire_home,NaN,Ushuaia,-54.841288,-68.381704,"['No hay evaluaciones', '5 camas', '2 dormitor...",2023-07-01,2023-07-06,$133 USD,$166 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1062,562143078127144674,Turquesa,entire_home,NaN,Ushuaia,-54.807163,-68.318520,"['1 cama', 'Monoambiente', '1 baño', 'Wifi', '...",2023-07-04,2023-07-11,$58 USD,$64 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1063,51759643,Departamento con vista abierta a las montañas,entire_home,"4,87 (23)",Ushuaia,-54.795000,-68.276430,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-20,2023-07-25,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1064,8048378,DESAPARTAMENTO SAN MARTÍN - UNIDAD E,entire_home,"4,77 (57)",Ushuaia,-54.807720,-68.306540,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-09-07,2023-09-12,NaN,$95 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1065,39086940,Sweet Home Depto 3,entire_home,"4,72 (43)",Ushuaia,-54.819020,-68.335560,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-02,2023-07-09,$33 USD,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

In [488]:
# Elimino los duplicados, que coinciden en toda la fila
df_alquileres.drop_duplicates(keep="first", inplace=True)
df_alquileres.shape

(1029, 18)

*Analisis y tratamiento de duplicados por columna*

+ Columna 1: id_alojamiento

In [489]:
# Busco si hay duplicados
df_alquileres['id_alojamiento'].duplicated(keep='first').sum()

1

In [490]:
# Identifico filas con esos valores duplicados
df_alquileres[df_alquileres['id_alojamiento'].duplicated(keep='first')]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
648,53729814,Pequeña casa,entire_home,"5,0 (36)",San Carlos de Bariloche,-41.14768,-71.31827,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-18,2023-08-23,NaN,$39 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

In [491]:
# Muestro las filas que corresponden a los valores duplicados, todas
df_alquileres[df_alquileres['id_alojamiento'] == 53729814]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
647,53729814,Pequeña casa,entire_home,"5,0 (36)",San Carlos de Bariloche,-41.14768,-71.31827,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-18,2023-08-23,NaN,$39 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
648,53729814,Pequeña casa,entire_home,"5,0 (36)",San Carlos de Bariloche,-41.14768,-71.31827,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-18,2023-08-23,NaN,$39 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

-> Analisis de los valores de las filas duplicadas.

In [492]:
#Verificamos los valores 
df_alquileres.loc[647]

id_alojamiento                                               53729814
name                                                     Pequeña casa
category                                                  entire_home
rating                                                       5,0 (36)
city                                          San Carlos de Bariloche
latitude                                                    -41.14768
longitude                                                   -71.31827
characteristics     ['1 cama', '1 dormitorio', '1 baño', '1 cama d...
check_in                                                   2023-08-18
check_out                                                  2023-08-23
price_discounted                                                  NaN
price_original                                                $39 USD
price_qualifier                                                 noche
cant_resultados                                                  1000
fecha_scrapping                                            2023-06-24
fecha_cambio_bna                                           2023-05-01
cambio_bna                                                 239.919355
provincia                                                   RIO NEGRO
Name: 647, dtype: object

In [493]:
# Verificamos los valores
df_alquileres.loc[648]

id_alojamiento                                               53729814
name                                                     Pequeña casa
category                                                  entire_home
rating                                                       5,0 (36)
city                                          San Carlos de Bariloche
latitude                                                    -41.14768
longitude                                                   -71.31827
characteristics     ['1 cama', '1 dormitorio', '1 baño', '1 cama d...
check_in                                                   2023-08-18
check_out                                                  2023-08-23
price_discounted                                                  NaN
price_original                                                $39 USD
price_qualifier                                                 noche
cant_resultados                                                  1000
fecha_scrapping                                            2023-06-24
fecha_cambio_bna                                           2023-05-01
cambio_bna                                                 239.919355
provincia                                                   RIO NEGRO
Name: 648, dtype: object

In [494]:
# Verificamos los valores para la variable que tendria fiferencia
df_alquileres.loc[647]["characteristics"]

"['1 cama', '1 dormitorio', '1 baño', '1 cama doble', 'Estacionamiento gratis', 'Wifi']"

In [495]:
# Verificamos los valores para la variable que tendria fiferencia
df_alquileres.loc[648]["characteristics"]

"['1 cama', '1 dormitorio', '1 baño', '1 cama doble', 'Estacionamiento gratis', 'Wifi', 'Calificado con 5 de 5 en limpieza']"

*ACCION:*
<BR>
*Vemos que seria el mismo registro con excepcion de la serie characteristics, donde tiene agregada comentario de calificacion*
<br>
*Como consideramos que cada valor de id_alojamiento, deberia ser unico, eliminamos el que consideramos repetido y menos se adecua a los valores esperados por serie*

In [496]:
# Descartamos el registro que no tiene agregado el comentario de la calificacion
df_alquileres.drop([648], inplace=True)
df_alquileres[df_alquileres['id_alojamiento'] == 53729814]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
647,53729814,Pequeña casa,entire_home,"5,0 (36)",San Carlos de Bariloche,-41.14768,-71.31827,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-08-18,2023-08-23,NaN,$39 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

+ Columna 2: name

In [497]:
# Verifico los duplicados, que coinciden en toda la fila
df_alquileres['name'].duplicated(keep="first").sum()

1

In [498]:
# Verifico los duplicados, que coinciden en toda la fila
df_alquileres[df_alquileres['name'].duplicated(keep="first")]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
794,800041160997364459,Vista al Lago en el Bosque - Hab Compartida,shared_room,"5,0 (8)",San Carlos de Bariloche,-41.1333,-71.36914,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-05,2023-07-10,NaN,$23 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

In [499]:
df_alquileres[df_alquileres['name'].str.contains('Vista al Lago en el Bosque - Hab Compartida')]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
712,797077259992479162,Vista al Lago en el Bosque - Hab Compartida,shared_room,"5,0 (8)",San Carlos de Bariloche,-41.13455,-71.36807,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-11,2023-07-18,NaN,$21 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
794,800041160997364459,Vista al Lago en el Bosque - Hab Compartida,shared_room,"5,0 (8)",San Carlos de Bariloche,-41.13330,-71.36914,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-05,2023-07-10,NaN,$23 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO

*ACCION:*
<br>
*En este caso vemos que los nombre coinciden pero, pueden corresponder a diferentes lugares, de hecho, estan sobre diferentes calles, segun sus coordenadas.*
<br>
*Por tal motivo los dejamos a ambos registros*

+ Columna 3: category

In [500]:
# Verifico los duplicados, que coinciden en toda la fila
df_alquileres['category'].duplicated(keep="first").sum()

1025

In [501]:
# Listo los duplicados segun category
df_alquileres[df_alquileres['category'].duplicated(keep="first")].sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
57,52968978,Casa de Campo con Tina de agua caliente Trevelin,entire_home,"4,77 (13)",Trevelin,-42.991430,-71.559460,"['4 camas', '2 dormitorios', '1 baño', '1 cama...",2023-08-11,2023-08-16,NaN,$70 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
933,53040595,Departamento de 3 ambientes con vista al Mar.,entire_home,NaN,Ushuaia,-54.793260,-68.237080,"['4 camas', '2 dormitorios', '2 baños', '1 cam...",2023-07-02,2023-07-08,$76 USD,$96 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
434,831209328855554547,Casa dos habitaciones,entire_home,NaN,Neuquén,-38.966110,-68.049350,"['4 camas', '2 dormitorios', '1 baño', '1 cama...",2023-09-10,2023-09-17,NaN,$52 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
478,35213605,CÉNTRICO LOFT Alto Comahue Shopping!!!,entire_home,NaN,Q8300MDJ,-38.941870,-68.065130,"['No hay evaluaciones', '1 cama', '1 dormitori...",2023-07-01,2023-07-06,NaN,$20 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
910,671793929721970610,CÁLIDO DEPARTAMENTO EN ZONA CENTRO,entire_home,"4,8 (5)",Ushuaia,-54.806390,-68.318740,"['3 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-09-05,2023-09-10,NaN,$30 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
529,853518125031245252,Alquiler Bahia Manzano Resort,entire_home,NaN,Neuquén,-38.960750,-68.098340,"['No hay evaluaciones', '3 camas', '1 dormitor...",2023-07-01,2023-07-08,NaN,$90 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
1006,847640105410806361,Mini casa,entire_home,NaN,Río Grande,-53.782990,-67.696630,"['2 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-15,2023-07-20,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
972,556497436406730911,Casa en Ushuaia frente al mar,entire_home,"5,0 (3)",Ushuaia,-54.842760,-68.367680,"['7 camas', '4 dormitorios', '3 baños', '1 cam...",2023-08-11,2023-08-16,$300 USD,$400 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
32,882608055979409957,Alto Madryn Vista 270°,entire_home,Nuevo,Puerto Madryn,-42.768744,-65.035268,"['6 camas', '3 dormitorios', '2,5 baños']",2023-07-01,2023-07-06,NaN,$71 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
1049,15312978,Casa Del Beagle,entire_home,"4,85 (137)",Ushuaia,-54.801630,-68.282500,"['6 camas', '3 dormitorios', '1 baño', 'Wifi',...",2023-07-01,2023-07-06,NaN,$120 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

*ACCION:*
<br>
*Entendemos que los valores de categoria se pueden repetir para los diferentes alquileres*
<br>
*por lo cual, no realizamos ninguna accion en base a esta columna*

+ Columna 4: rating

In [502]:
# Verifico los duplicado
df_alquileres['rating'].duplicated(keep="first").sum()

564

In [503]:
# Listamos algunas filas, repetidas por rating
df_alquileres[df_alquileres['rating'].duplicated(keep="first")].sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
325,788539781586101591,Bim 5,entire_home,NaN,Neuquén,-38.948340,-68.060020,"['2 camas', '1 dormitorio', '1 baño', 'Estacio...",2023-07-10,2023-07-15,NaN,$35 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
443,53105728,LOFT RESIDENCIAL ALTO COMAHUE DE COMPRAS!!,entire_home,NaN,Neuquén,-38.941450,-68.063080,"['No hay evaluaciones', '2 camas', 'Monoambien...",2023-07-01,2023-07-06,NaN,$20 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
150,790783682913096478,Dpto Tecka,entire_home,"5,0 (6)",Comodoro Rivadavia,-45.786747,-67.432560,"['3 camas', '1 dormitorio', '1 baño', 'Calific...",2023-07-01,2023-07-06,NaN,$48 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
298,614959671532733604,Santa Genoveva 1 dormitorio Excelentes vistas,entire_home,"5,0 (11)",Neuquén,-38.949740,-68.044680,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-23,2023-07-28,$30 USD,$41 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
488,902210732743493865,Amplia Casa Nivel Gerencial Nqn,entire_home,Nuevo,Neuquén,-38.925618,-68.050926,"['5 camas', '3 dormitorios', '3 baños', 'Estac...",2023-08-07,2023-08-13,NaN,$220 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
822,53848130,Ocean & Mountain View,entire_home,"4,89 (9)",Ushuaia,-54.807163,-68.318520,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,$88 USD,$98 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
532,780550736495180388,Patagonia,entire_home,NaN,Cipolletti,-38.939712,-67.980420,"['No hay evaluaciones', '1 cama', '1 dormitori...",2023-07-01,2023-07-06,NaN,$38 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
1,51484364,Hermoso Monoambiente con Vista al Mar y Pileta,entire_home,NaN,Puerto Madryn,-42.755775,-65.037265,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-21,2023-07-26,$18 USD,$24 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
490,47372143,Dúplex amoblados de dos dormitorios,entire_home,NaN,Confluencia,-38.954000,-68.203960,"['4 camas', '2 dormitorios', '2 baños', '1 cam...",2023-07-01,2023-07-06,NaN,$100 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
317,811637498175849726,Luxury - Babel NQN,entire_home,NaN,Neuquén,-38.952330,-68.063580,"['No hay evaluaciones', '4 camas', '3 dormitor...",2023-07-01,2023-07-08,NaN,$88 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN

In [504]:
df_alquileres['rating'].unique()

array([nan, '5,0 (6)', '4,91 (70)', 'Nuevo', '4,96 (95)', '4,86 (7)',
       '4,82 (17)', '4,96 (75)', '4,91 (67)', '4,57 (14)', '4,6 (5)',
       '4,94 (18)', '4,95 (22)', '4,92 (64)', '4,94 (109)', '4,77 (44)',
       '4,89 (35)', '5,0 (7)', '4,66 (53)', '5,0 (34)', '4,98 (93)',
       '4,96 (51)', '4,82 (66)', '4,8 (51)', '4,83 (36)', '4,9 (20)',
       '5,0 (17)', '4,65 (49)', '4,7 (33)', '4,89 (9)', '4,97 (90)',
       '5,0 (10)', '4,79 (30)', '4,86 (74)', '4,86 (44)', '4,63 (128)',
       '5,0 (3)', '4,88 (16)', '4,81 (32)', '5,0 (9)', '4,93 (27)',
       '4,92 (13)', '4,5 (4)', '4,77 (13)', '4,67 (12)', '4,9 (176)',
       '4,95 (19)', '4,8 (15)', '5,0 (14)', '4,79 (14)', '5,0 (4)',
       '5,0 (19)', '4,67 (6)', '4,82 (137)', '5,0 (11)', '4,77 (102)',
       '4,47 (55)', '4,76 (134)', '4,74 (19)', '4,96 (27)', '4,91 (11)',
       '4,93 (15)', '4,62 (13)', '4,55 (33)', '4,4 (5)', '4,72 (25)',
       '4,58 (76)', '4,73 (11)', '4,83 (60)', '4,93 (28)', '4,7 (10)',
       '4,76 (85)', '4,52 (141)', '4,35 (27)', '5,0 (12)', '5,0 (5)',
       '4,5 (39)', '4,38 (13)', '5,0 (41)', '4,97 (63)', '4,81 (74)',
       '4,74 (34)', '4,45 (11)', '4,83 (6)', '4,9 (39)', '4,88 (8)',
       '4,73 (27)', '4,88 (42)', '4,63 (40)', '4,73 (49)', '4,69 (39)',
       '4,84 (19)', '4,85 (13)', '3,8 (5)', '4,98 (40)', '4,96 (23)',
       '5,0 (8)', '4,93 (14)', '4,89 (53)', '4,72 (69)', '4,85 (173)',
       '5,0 (36)', '4,8 (31)', '4,96 (70)', '4,93 (58)', '4,67 (3)',
       '4,89 (70)', '5,0 (47)', '4,72 (43)', '4,91 (22)', '4,69 (101)',
       '4,31 (17)', '5,0 (18)', '4,6 (176)', '5,0 (16)', '4,28 (43)',
       '4,81 (69)', '4,86 (28)', '4,75 (4)', '4,88 (25)', '4,71 (7)',
       '4,84 (31)', '4,67 (9)', '5,0 (23)', '4,84 (25)', '4,71 (15)',
       '4,8 (5)', '4,96 (50)', '4,5 (10)', '4,71 (165)', '4,62 (47)',
       '4,97 (32)', '4,83 (122)', '4,56 (94)', '4,91 (33)', '4,25 (4)',
       '4,86 (56)', '5,0 (63)', '4,92 (12)', '4,85 (26)', '4,76 (26)',
       '4,5 (8)', '4,63 (8)', '4,8 (25)', '4,68 (22)', '4,95 (41)',
       '5,0 (57)', '4,83 (30)', '4,92 (92)', '4,9 (10)', '4,84 (85)',
       '4,79 (43)', '4,91 (69)', '3,33 (3)', '4,75 (106)', '4,87 (70)',
       '4,44 (9)', '4,88 (89)', '4,6 (10)', '4,86 (22)', '4,9 (67)',
       '4,33 (6)', '4,86 (35)', '4,94 (16)', '4,2 (5)', '4,73 (15)',
       '4,9 (64)', '4,89 (19)', '4,87 (115)', '4,43 (35)', '4,71 (21)',
       '3,67 (3)', '3,0 (3)', '4,92 (25)', '4,5 (17)', '5,0 (15)',
       '4,39 (18)', '4,91 (35)', '4,72 (18)', '4,67 (39)', '4,79 (15)',
       '3,75 (4)', '4,8 (10)', '4,41 (22)', '4,74 (60)', '4,71 (52)',
       '5,0 (28)', '4,82 (78)', '5,0 (46)', '5,0 (58)', '4,89 (37)',
       '4,98 (51)', '5,0 (49)', '5,0 (59)', '4,95 (93)', '4,76 (254)',
       '4,75 (20)', '5,0 (25)', '4,71 (17)', '4,95 (39)', '4,92 (248)',
       '4,99 (285)', '4,96 (53)', '4,67 (15)', '4,62 (50)', '4,75 (12)',
       '4,96 (83)', '4,92 (50)', '4,88 (67)', '5,0 (55)', '4,73 (62)',
       '4,85 (33)', '4,97 (37)', '4,69 (55)', '4,8 (60)', '4,95 (88)',
       '4,95 (58)', '4,88 (32)', '4,98 (127)', '4,86 (29)', '4,94 (78)',
       '4,91 (55)', '4,52 (302)', '4,6 (40)', '4,88 (26)', '4,91 (245)',
       '4,65 (149)', '4,97 (59)', '4,95 (63)', '4,87 (15)', '4,79 (42)',
       '4,98 (122)', '4,9 (41)', '4,81 (119)', '4,55 (11)', '4,91 (200)',
       '4,85 (39)', '4,89 (236)', '4,9 (30)', '4,92 (287)', '4,98 (46)',
       '4,86 (57)', '5,0 (53)', '4,51 (47)', '4,83 (12)', '4,97 (111)',
       '4,76 (119)', '4,97 (72)', '5,0 (33)', '4,34 (94)', '4,93 (76)',
       '4,94 (79)', '4,92 (37)', '4,74 (23)', '4,75 (28)', '4,91 (54)',
       '4,56 (264)', '4,95 (21)', '4,84 (69)', '5,0 (26)', '4,79 (135)',
       '4,98 (44)', '4,86 (37)', '4,47 (49)', '4,94 (35)', '4,86 (104)',
       '4,89 (61)', '4,79 (114)', '4,95 (117)', '4,84 (141)', '4,92 (90)',
       '4,96 (190)', '4,96 (191)', '4,81 (26)', '4,9 (134)', '4,87 (90)',
       '4,9 (62)', '4,92 (39)', '4,97 (70)', '4,77 (31)', '4,91 (98)',
       '4,68 (25)', '4,98 (61)', '4,98 (220)', '4,95 (133)', '4,87 (79)',
       '4,51 (181)', '5,0 (30)', '4,97 (31)', '4,84 (98)', '4,94 (17)',
       '4,94 (32)', '4,8 (49)', '4,96 (108)', '4,96 (28)', '4,96 (48)',
       '4,56 (46)', '4,95 (97)', '4,96 (98)', '4,91 (68)', '4,91 (104)',
       '4,76 (135)', '4,84 (49)', '4,89 (108)', '4,88 (24)', '4,92 (96)',
       '4,68 (175)', '4,99 (124)', '4,86 (52)', '4,9 (31)', '4,49 (87)',
       '4,89 (28)', '4,76 (140)', '4,7 (194)', '4,93 (121)', '4,3 (20)',
       '4,92 (100)', '4,98 (60)', '4,78 (37)', '4,94 (34)', '4,99 (102)',
       '4,89 (88)', '4,61 (84)', '4,91 (32)', '4,8 (30)', '4,75 (8)',
       '4,96 (102)', '4,96 (71)', '4,52 (65)', '5,0 (38)', '4,86 (14)',
       '4,73 (48)', '4,93 (153)', '4,8 (74)', '5,0 (13)', '4,57 (7)',
       '4,72 (39)', '4,59 (22)', '4,98 (41)', '4,7 (84)', '4,84 (67)',
       '4,68 (114)', '4,96 (55)', '4,78 (18)', '4,93 (40)', '4,97 (68)',
       '4,92 (61)', '4,95 (60)', '4,92 (79)', '4,99 (86)', '4,96 (69)',
       '4,9 (42)', '4,82 (50)', '4,63 (19)', '4,95 (42)', '4,96 (76)',
       '4,98 (99)', '4,94 (310)', '4,81 (63)', '4,87 (47)', '4,92 (24)',
       '4,92 (157)', '5,0 (31)', '4,96 (25)', '4,97 (34)', '4,91 (34)',
       '4,96 (54)', '4,81 (47)', '4,95 (66)', '4,83 (29)', '4,77 (26)',
       '4,85 (40)', '4,35 (40)', '4,5 (6)', '4,8 (40)', '4,96 (103)',
       '4,88 (52)', '4,94 (165)', '4,91 (23)', '4,81 (123)', '4,63 (174)',
       '4,96 (45)', '4,88 (56)', '4,92 (26)', '4,87 (23)', '4,97 (61)',
       '4,89 (18)', '4,95 (62)', '4,96 (79)', '4,89 (113)', '4,57 (28)',
       '4,96 (156)', '4,98 (94)', '4,93 (231)', '4,78 (126)', '4,62 (21)',
       '4,84 (62)', '4,92 (62)', '4,81 (21)', '4,84 (86)', '4,78 (45)',
       '4,9 (79)', '4,9 (68)', '4,81 (42)', '4,93 (42)', '4,88 (175)',
       '4,2 (20)', '4,77 (97)', '4,85 (20)', '4,97 (35)', '4,92 (36)',
       '4,84 (37)', '4,9 (108)', '5,0 (22)', '4,77 (79)', '4,97 (91)',
       '4,82 (45)', '4,64 (11)', '4,66 (228)', '4,94 (54)', '4,72 (67)',
       '4,92 (88)', '4,97 (30)', '4,36 (14)', '4,82 (73)', '5,0 (149)',
       '4,95 (111)', '4,97 (58)', '4,88 (208)', '4,94 (33)', '4,29 (7)',
       '4,85 (62)', '4,98 (49)', '4,97 (140)', '4,57 (38)', '4,88 (201)',
       '4,95 (80)', '4,79 (100)', '4,73 (30)', '4,9 (21)', '4,82 (11)',
       '4,76 (122)', '4,36 (22)', '4,96 (47)', '4,73 (154)', '4,8 (250)',
       '4,81 (64)', '4,76 (33)', '4,69 (26)', '4,84 (82)', '4,91 (81)',
       '4,72 (274)', '4,87 (30)', '4,73 (78)', '4,84 (45)', '4,96 (93)',
       '4,77 (30)', '5,0 (43)', '4,77 (57)', '4,85 (137)', '4,8 (41)',
       '4,86 (129)', '4,17 (6)', '4,53 (17)'], dtype=object)

*ACCION:*
<br>
*Entendemos que los valores de rating se pueden repetir para los diferentes alquileres*
<br>
*Por lo cual, dejamos los registros retpetidos segun esta columna*

+ Columna 5: city

In [505]:
# Verifico los duplicados, que coinciden en toda la fila
df_alquileres['city'].duplicated(keep="first").sum()

947

In [506]:
# Listamos repetidos, por city
df_alquileres[df_alquileres['city'].duplicated(keep="first")]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
1,51484364,Hermoso Monoambiente con Vista al Mar y Pileta,entire_home,NaN,Puerto Madryn,-42.755775,-65.037265,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-21,2023-07-26,$18 USD,$24 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
2,800749301724167838,Departamento Bella Vista,entire_home,"5,0 (6)",Puerto Madryn,-42.768007,-65.033108,"['3 camas', '1 dormitorio', '1 baño', 'Calific...",2023-08-01,2023-08-08,NaN,$43 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
3,50769917,New Lil’ & Cozy - 100mts de la playa Puerto Ma...,entire_home,"4,91 (70)",Puerto Madryn,-42.777590,-65.025890,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-09,2023-07-14,NaN,$41 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
4,916738743930751566,Front Beach,entire_home,Nuevo,Puerto Madryn,-42.770540,-65.030810,"['2 camas', 'Monoambiente', '1 baño']",2023-07-01,2023-07-06,NaN,$35 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
5,27877802,Luxury top 11th floor with the best 360 views,entire_home,"4,96 (95)",Puerto Madryn,-42.768330,-65.032100,"['4 camas', '2 dormitorios', '2,5 baños', '1 c...",2023-07-06,2023-07-11,NaN,$122 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,771725397497773450,Casa Fueguina en Centro,entire_home,"4,53 (17)",Ushuaia,-54.803310,-68.302580,"['3 camas', '2 dormitorios', '1 baño', 'Wifi',...",2023-08-14,2023-08-19,$60 USD,$76 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1076,26215568,Hospedaje UshuaiAndo,entire_home,"4,82 (50)",Ushuaia,-54.800790,-68.304230,"['3 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-23,2023-07-28,$45 USD,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1077,42486711,Yeska C Dpto. Supercéntrico. Casco Histórico,entire_home,"4,88 (8)",Ushuaia,-54.805430,-68.308710,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-01,2023-07-06,NaN,$63 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1078,51921207,KREN I,entire_home,"4,85 (26)",Ushuaia,-54.806170,-68.317800,"['2 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-07-10,2023-07-15,NaN,$55 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1079,842195865716596989,Bahía de Ushuaia,entire_home,NaN,Ushuaia,-54.793450,-68.276470,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-08-05,2023-08-10,NaN,$49 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

*ACCION:*
<br>
*Entendemos que la columna city, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 6: latitude

In [507]:
# Verificamos los duplicados
df_alquileres['latitude'].duplicated(keep="first").sum()

36

In [508]:
# Listamos algunos de los duplicados
df_alquileres[df_alquileres['latitude'].duplicated(keep="first")].sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
1077,42486711,Yeska C Dpto. Supercéntrico. Casco Histórico,entire_home,"4,88 (8)",Ushuaia,-54.805430,-68.308710,"['1 cama', '1 dormitorio', '1 baño', '1 cama d...",2023-07-01,2023-07-06,NaN,$63 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
791,4469246,Habitación en Casita de madera y adobe. c/desa...,private_room,"4,68 (114)",San Carlos de Bariloche,-41.073160,-71.488690,"['1 cama', '1 dormitorio', '1 baño compartido'...",2023-07-09,2023-07-14,NaN,$40 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
296,661388148387143050,Apart céntrico 2 dorm c/ balcon cochera opci...,entire_home,"5,0 (6)",Neuquén,-38.951410,-68.061740,"['3 camas', '2 dormitorios', '1 ,5 baños', 'Wi...",2023-07-01,2023-07-08,NaN,$50 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
1071,700712866756917764,D) Cuarto doble privado,private_room,"4,85 (13)",Ushuaia,-54.796494,-68.298038,"['2 camas', '1 dormitorio', '1,5 baños compart...",2023-07-01,2023-07-06,NaN,$26 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1031,711709136406452484,F) Cama en cuarto mixto compartido,shared_room,"4,67 (9)",Ushuaia,-54.796494,-68.298038,"['1 cama', '1 dormitorio', '1,5 baños comparti...",2023-07-01,2023-07-06,NaN,$12 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
768,25675737,Departamento completo en el centro de Bariloche,entire_home,"4,93 (153)",San Carlos de Bariloche,-41.134030,-71.308150,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-10-04,2023-10-11,NaN,$32 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
1024,906355891628807276,Grand House,entire_home,Nuevo,Ushuaia,-54.806780,-68.315870,"['5 camas', '2 dormitorios', '2 baños', 'Wifi'...",2023-07-03,2023-07-09,$140 USD,$175 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
717,49546396,Departamento para 2. Excelente ubicación.,entire_home,"4,89 (53)",San Carlos de Bariloche,-41.134550,-71.299200,"['1 cama', 'Monoambiente', '1 baño', '1 cama q...",2023-07-07,2023-07-13,NaN,$70 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
709,17846750,Cabaña en Bariloche a minutos del Centro,entire_home,"4,89 (108)",San Carlos de Bariloche,-41.127640,-71.358010,"['4 camas', '2 dormitorios', '1 baño', '1 cama...",2023-08-09,2023-08-14,$75 USD,$85 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
982,690413283545175725,Las Aguilas 3,entire_home,"4,67 (9)",Ushuaia,-54.814922,-68.341647,"['4 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-08,2023-07-14,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

In [509]:
# Vemos un ejemplo
df_alquileres[df_alquileres['latitude'] == -54.803600]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
934,31825003,Departamento con inmejorable ubicación en Ushuaia,entire_home,"4,9 (108)",Ushuaia,-54.8036,-68.30374,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$85 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1025,623178032761843625,"departamento céntrico, cálido y cómodo.",entire_home,"4,88 (16)",AIU,-54.8036,-68.32132,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-09,2023-07-14,NaN,$33 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

*ACCION:*
<br>
*Entendemos que la columna latitude, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 7: longitude

In [510]:
# Verificamos los duplicados
df_alquileres['longitude'].duplicated(keep="first").sum()

20

In [511]:
# Listamos algunos de los duplicados
df_alquileres[df_alquileres['longitude'].duplicated(keep="first")].sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
789,27130827,MIRADOR I Hermoso Studio Centro de Bariloche,entire_home,"4,7 (84)",San Carlos de Bariloche,-41.134400,-71.317130,"['2 camas', 'Monoambiente', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$90 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
257,53295849,Preciosa unidad de alquiler de 3 dormitorios e...,entire_home,"4,84 (25)",Puerto Madryn,-42.770730,-65.029470,"['3 camas', '2 dormitorios', '2 baños', '1 cam...",2023-07-03,2023-07-08,NaN,$114 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
1071,700712866756917764,D) Cuarto doble privado,private_room,"4,85 (13)",Ushuaia,-54.796494,-68.298038,"['2 camas', '1 dormitorio', '1,5 baños compart...",2023-07-01,2023-07-06,NaN,$26 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
948,889733753812060778,Ushuaia Mágica - Ush AustraLis,entire_home,Nuevo,Ushuaia,-54.811890,-68.326950,"['2 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-07-09,2023-07-14,NaN,$45 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1050,828090107927300389,GRUshuaia,entire_home,NaN,Ushuaia,-54.815088,-68.329166,"['No hay evaluaciones', '1 cama', 'Monoambient...",2023-09-13,2023-09-18,$51 USD,$85 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
982,690413283545175725,Las Aguilas 3,entire_home,"4,67 (9)",Ushuaia,-54.814922,-68.341647,"['4 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-08,2023-07-14,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
941,53903647,Skyline 4,entire_home,"4,88 (8)",Ushuaia,-54.807163,-68.318520,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-07-04,2023-07-09,$88 USD,$98 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
976,48043650,Latitud Sur Ushuaia,entire_home,"4,95 (22)",Ushuaia,-54.810780,-68.327640,"['2 camas', 'Monoambiente', '1 baño', '1 cama ...",2023-07-01,2023-07-06,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
905,579038522149900540,Departamento con hermosa vista a la Bahía,entire_home,"4,81 (21)",Ushuaia,-54.807163,-68.318520,"['3 camas', '1 dormitorio', '1 baño', 'Wifi', ...",2023-07-03,2023-07-08,NaN,$77 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
1044,51921353,KREN II,entire_home,"4,77 (30)",Ushuaia,-54.807290,-68.316100,"['2 camas', 'Monoambiente', '1 baño', 'Wifi', ...",2023-07-01,2023-07-06,NaN,$50 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

In [512]:
# Vemos un ejemplo
df_alquileres[df_alquileres['longitude'] == -65.029470]

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
70,20364091,Departamento Solmar,entire_home,"4,82 (137)",Puerto Madryn,-42.76963,-65.02947,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-10-15,2023-10-20,NaN,$47 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
257,53295849,Preciosa unidad de alquiler de 3 dormitorios e...,entire_home,"4,84 (25)",Puerto Madryn,-42.77073,-65.02947,"['3 camas', '2 dormitorios', '2 baños', '1 cam...",2023-07-03,2023-07-08,NaN,$114 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT

*ACCION:*
<br>
*Entendemos que la columna longitude, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columan 8: characteristics

In [513]:
# Verificamos los duplicados
df_alquileres['characteristics'].duplicated(keep="first").sum()

243

In [514]:
# Listamos algunos de los duplicados
df_alquileres[df_alquileres['characteristics'].duplicated(
    keep="first")].sample(10)

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia
491,814500878441793574,Jardines Departamento,entire_home,NaN,Neuquén,-38.977332,-68.069833,"['1 cama', 'Monoambiente', '1 baño', 'Estacion...",2023-07-01,2023-07-06,NaN,$57 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
763,53572179,"Dpto céntrico, en complejo residencial con pil...",entire_home,"5,0 (38)",San Martin de los Andes,-40.152730,-71.352130,"['1 cama', '1 dormitorio', '1 baño', 'Wifi', '...",2023-07-01,2023-07-06,NaN,$68 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
713,52993593,Habitación privada en San Martín de Los Andes ...,private_room,"4,96 (27)",San Martin de los Andes,-40.133560,-71.297480,"['1 cama', '1 dormitorio', '2 baños compartido...",2023-07-01,2023-07-06,NaN,$30 USD,noche,1000,2023-06-24,2023-05-01,239.919355,RIO NEGRO
192,822302342590154561,"Mamma, Esquel.",entire_home,"4,67 (3)",Esquel,-42.910710,-71.300210,"['1 cama', '1 dormitorio', '1 baño', 'Califica...",2023-07-01,2023-07-06,NaN,$52 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
1016,710023636824621678,Estudio con vista a las montañas,entire_home,NaN,Ushuaia,-54.795320,-68.238110,"['No hay evaluaciones', '2 camas', '1 dormitor...",2023-07-01,2023-07-06,NaN,$69 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
483,833251451686101343,FLOMA Alquiler Temporario,entire_home,NaN,Neuquén,-38.954630,-68.093190,"['No hay evaluaciones', '3 camas', '2 dormitor...",2023-07-09,2023-07-15,NaN,$62 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
233,894686016674794398,Buena Vista Trevelin II,entire_home,Nuevo,Trevelin,-43.072300,-71.458040,"['2 camas', '1 dormitorio', '1 baño']",2023-07-06,2023-07-13,$34 USD,$38 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT
531,833878451226342434,El lugar de Ana - Am. Comahue,entire_home,NaN,Neuquén,-38.953065,-68.065207,"['No hay evaluaciones', '3 camas', '1 dormitor...",2023-07-02,2023-07-08,NaN,$59 USD,noche,298,2023-06-24,2023-05-01,239.919355,NEUQUEN
956,53699993,Moderno estudio con jardín,entire_home,"4,94 (54)",Ushuaia,-54.809040,-68.319680,"['1 cama', 'Monoambiente', '1 baño', 'Wifi', '...",2023-10-23,2023-10-28,NaN,$55 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO
936,40149949,Moderno estudio 3 Ushuaia Center,entire_home,"4,77 (79)",Ushuaia,-54.803800,-68.301960,"['1 cama', 'Monoambiente', '1 baño', 'Wifi', '...",2023-07-10,2023-07-15,NaN,$59 USD,noche,1000,2023-06-24,2023-05-01,239.919355,TIERRA DEL FUEGO

*ACCION:*
<br>
*Entendemos que la columna characteristics, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 9: check_in

In [515]:
# Verificamos la cantidad de duplicados por esta columna
df_alquileres['check_in'].duplicated(keep="first").sum()

920

*ACCION:*
<br>
*Entendemos que la columna check_in, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 10: check_out

In [516]:
# Verificamos la cantidad de duplicados por esta columna
df_alquileres['check_out'].duplicated(keep="first").sum()

916

*ACCION:*
<br>
*Entendemos que la columna check_out, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 11: price_discounted

In [517]:
# Verificamos la cantidad de duplicados por esta columna
df_alquileres['price_discounted'].duplicated(keep="first").sum()

938

*ACCION:*
<br>
*Entendemos que la columna price_discounted, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 12: price_original

In [518]:
# Verificamos la cantidad de duplicados por esta columna
df_alquileres['price_original'].duplicated(keep="first").sum()

868

*ACCION:*
<br>
*Entendemos que la columna price_original, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 13: price_qualifier

In [519]:
# Verificamos la cantidad de duplicados por esta columna
df_alquileres['price_qualifier'].duplicated(keep="first").sum()

1027

*ACCION:*
<br>
*Entendemos que la columna price_qualifier, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 14: cant_resultados

In [520]:
# Verificamos los duplicados
df_alquileres['cant_resultados'].duplicated(keep="first").sum()

1026

*ACCION:*
<br>
*Entendemos que la columna cant_resultados, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

Columna 15: fecha_scrapping

In [521]:
# Verificamos los duplicados
df_alquileres['fecha_scrapping'].duplicated(keep="first").sum()

1027

*ACCION:*
<br>
*Entendemos que la columna fecha_scrapping, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 16: fecha_cambio_bna

In [522]:
# Verificamos los duplicados
df_alquileres['fecha_cambio_bna'].duplicated(keep="first").sum()

1027

*ACCION:*
<br>
*Entendemos que la columna fecha_cambio_bna, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 17: cambio_bna

In [523]:
# Verificamos los duplicados
df_alquileres['cambio_bna'].duplicated(keep="first").sum()

1027

*ACCION:*
<br>
*Entendemos que la columna cambio_bna, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

+ Columna 18: provincia

In [524]:
# Verificamos los duplicados
df_alquileres['provincia'].duplicated(keep="first").sum()

1024

*ACCION:*
<br>
*Entendemos que la columna provincia, puede tener valores iguales para las diferentes observaciones*
<br>
*Por lo cual, no eliminamos segun los repetidos basados en esta columna*

*OBSERVACION GENERAL*
<br>
*En general entendemos que la mayoria de las columnas podrian tener valores repetidos evaluandolas individualmente.*
<br>
*Pero si consideramos que la variable id_alojamiento identifica de manera biunivoca un alojamiento.*
<br>
*Podemos decir que no es lo mismo, un duplicado en la columna id_alojamiento(que no deberia tener valores repetidos), que un duplicado en la columna price_original,*
<br>
*(que podria perfectamente tener valores repetidos en la seria).*

**<h1>3. Análisis de datos faltantes y limpieza</h1>**

+ Mostrar el porcentaje de datos faltantes de cada columna

In [525]:
# Verificacion inicial del dataset
df_alquileres.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1028 entries, 0 to 1079
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_alojamiento    1028 non-null   int64
 1   name              1028 non-null   object
 2   category          1028 non-null   object
 3   rating            842 non-null    object
 4   city              1024 non-null   object
 5   latitude          1028 non-null   float64
 6   longitude         1028 non-null   float64
 7   characteristics   1028 non-null   object
 8   check_in          1028 non-null   object
 9   check_out         1028 non-null   object
 10  price_discounted  191 non-null    object
 11  price_original    1028 non-null   object
 12  price_qualifier   1028 non-null   object
 13  cant_resultados   1028 non-null   int64
 14  fecha_scrapping   1028 non-null   object
 15  fecha_cambio_bna  1028 non-null   object
 16  cambio_bna        1028 non-null   float64
 17  provincia         1028 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 152.6+ KB

*En primera instancia observamos que solo nos quedan dos columnas con datos faltantes: rating y price_discounted*
<br>
*Para rating, tenenmos un 81.90 % de faltantes (842 de 1028).*
<br>
*Para rating, tenenmos un 18.58 % de faltantes (191 de 1028).*

+ ¿Cuáles son las 3 columnas con más datos faltantes?

*En nuestra observacion inicial, en principio tenemos dos columnas con datos faltantes solamente: rating y price_discounted*

**LIMPIEZA DE DE DATOS POR COLUMNAS**

In [526]:
df_alquileres.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1028 entries, 0 to 1079
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_alojamiento    1028 non-null   int64
 1   name              1028 non-null   object
 2   category          1028 non-null   object
 3   rating            842 non-null    object
 4   city              1024 non-null   object
 5   latitude          1028 non-null   float64
 6   longitude         1028 non-null   float64
 7   characteristics   1028 non-null   object
 8   check_in          1028 non-null   object
 9   check_out         1028 non-null   object
 10  price_discounted  191 non-null    object
 11  price_original    1028 non-null   object
 12  price_qualifier   1028 non-null   object
 13  cant_resultados   1028 non-null   int64
 14  fecha_scrapping   1028 non-null   object
 15  fecha_cambio_bna  1028 non-null   object
 16  cambio_bna        1028 non-null   float64
 17  provincia         1028 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 152.6+ KB

+ Columna 0: id_alojamiento

In [527]:
df_alquileres['id_alojamiento'].nunique()

1028

In [528]:
df_alquileres['id_alojamiento'].isna().sum()

0

+ Columna 1: name

In [529]:
sorted(df_alquileres['name'].unique())

['"Alegria" vistas de ensueño en un lugar para enamorarse',
 '"Bathroom with LakeView Place and Retreat"',
 '"Casita" a estrenar, 21 m2 de luz',
 '"Cerros Nevados" departamento tipo loft.',
 '"Cipresales"     Cabaña  Villa la Angostura  Nqn',
 '"Doña Cota" - Amueblados Comahue',
 '"El Rancho" Sentirte en casa',
 '"La Encantada" en Villa los Coihues',
 '"La Posadita" Casa de Montaña, Miralejos',
 '"La casa de Cielo "',
 '"Los Amancays "\nCabaña de montaña',
 '"Tiny House de Ensueño"',
 '"Ty Bychan" \nLa Casita. Entre raíces galesas.',
 '0 - Pura Tranquilidad en el Corazón de Neuquén',
 '1- Pura Tranquilidad en el Corazón de Neuquén',
 '11-E Espectacular departamento Alto Neuquen',
 '2 - Pura tranquilidad en el corazón de Neuquén',
 '2 Amigos de viaje en un lugar comodo',
 '2 Habitaciones. 4 Personas en Casa con Pileta',
 '2 Personas. Lugar súper cómodo',
 '2 ambientes en el centro',
 '2x1 Central Family',
 '3 dormitorios. cama matrimonial + 3 de una plaza',
 '3- Pura tranquilidad en el corazón de Neuquén',
 '30% de descuento. Casa de dormitorios completa. Netflix equipado.',
 '30% off. Moto  más 2 personas. Hab compartida.',
 '30%off. Moto 2 personas.',
 '317 Feuerland. Tierra de Fuegos',
 '4 - Pura tranquilidad en el corazón de Neuquén',
 '5 - Pura tranquilidad en el corazón de Neuquén',
 '6 - Pura tranquilidad en el corazón de Neuquén',
 '866 Casa',
 'A LOS PIES DEL ARROYO',
 'A una cuadra del mar con estacionamiento gratuito',
 'ACUARELA II en pleno centro',
 'ALIWEN BARILOCHE',
 'AMAREMIO - HERMOSA CASA PARA PAREJAS',
 'AMPLIO E ILUMINADO DEPTO EN EL CENTRO DE NQN CAP',
 'AMUEBLADOS COMAHUE - Temp. Growing - 3pax',
 'ANOKA   ( LUNA en lengua Yamana)',
 'Abrazando el mar',
 'Abruzzo Ushuaia',
 'Accesible Depto a metros del mar en Planta Baja',
 'Acogedor apartamento en el centro',
 'Acogedor departamento a orillas del Nahuel Huapi.',
 'Acogedor departamento de 2 amb',
 'Acogedor estudio en el centro de la ciudad',
 'Acogedor estudio en la  costa del lago',
 'Acogedora Cabaña B. Residencial con Vista al Cerro',
 'Acogedora Cabaña de Montaña II Bosque y Naturaleza',
 'Acogedora cabaña en el bosque y junto a lakeroad principal',
 'Acogedora cabaña en el lago',
 'Acogedora casa al pie del Cerro Otto',
 'Acogedora casa con pileta climatizada cubierta',
 'Acogedora habitación para 4 personas, entrada independiente, baño privado.',
 'Agradable cabaña con amplias dimensiones.',
 'Agradable casa \ncon estacionamiento privado.',
 'Aiksh Estudio H/ 3 Pax, parrilla y estacionamiento',
 'Aires de la Costa',
 'Al Paso',
 'AlSur A | Estudio con Vista al Canal Beagle',
 'AlSur B | Estudio con Vista al Canal de Beagle',
 'AlSur | Vista al Canal Beagle y a las Montañas',
 'Aljabas, cabaña con vista al lago y a la montaña',
 'Almacén de Amor',
 'Alojamiento Rivadavia',
 'Alojamiento Sabio',
 'Alojamiento V.E',
 'Alojamiento amoblado con dos dormitorios.',
 'Alojamiento granjero en chacra Prado Verde',
 'Alojamiento ideal, en un lugar ideal.',
 'Alojamientos Memorable (Dept 2)',
 'Alojamientos Memorable (Dept 3)',
 'Alquiler Bahia Manzano Resort',
 'Alquiler de departamento temporario',
 'Alquiler temporario',
 'Alquiler.temporario_terrazas en Neuquén Capital',
 'Alquilo Hermosa Casa',
 'Alquilo departamento amueblado en pleno centro',
 'Alquilo dpto. temporario en Ushuaia máximo 4pers.',
 'Alquilo habitación muy espaciosa de dos camas.',
 'Alquilo monoambiente',
 'Alto Madryn Vista 270°',
 'Alvere ll Temporary Apartments',
 'Amaneceres Ushuaia 3ro D',
 'Amaneceres Ushuaia 4to J',
 'Amaneceres del Beagle',
 'Amazing view, 4min away intown.',
 'Amplia Casa Nivel Gerencial Nqn',
 'Amplia casa con estacionamiento',
 'Amplio Dto 1 planta 2 dormitorios cochera asador',
 'Amplio Dúplex Doble Matrimonial',
 'Amplio Monoambiente con estacionamiento,cerrado.',
 'Amplio departamento centrico 2 dormitorios',
 'Amplio y cómodo dpto familiar',
 'Amundsen Apartment PB I',
 'Angela Departamento',
 'Apacible y tranquila cabaña entre árboles',
 'Apart Rivadavia 340',
 'Apart Shape',
 'Apart céntrico 2 dorm  c/ balcon  cochera opcional',
 'Apartamento  Vista al Sur 1',
 'Apartamento - patio y aparcamiento gratuito propio',
 'Apartamento Amundsen 6J - Estudio - Ushuaia',
 'Apartamento Downtown: ¡Excelente ubicación!',
 'Apartamento Italia',
 'Apartamento Muy Còmodo y Espacioso ( Patagonia  )',
 'Apartamento Snow & Pine',
 'Apartamento a un kilómetro del centro, Cipolletti.',
 'Apartamento completo equipado para 3 personas',
 'Apartamento con balcón.',
 'Apartamento en el centro de Ushuaia con vistas únicas',
 'Apartamento en la Torre Ushuaia con VISTAS ÚNICAS, corazón de la ciudad',
 'Apartamento en pleno centro de Ushuaia\n2C#',
 'Apartamento en pleno centro de Ushuaia\n2D#',
 'Apartamento estudio, con vistas preciosas a la ciudad',
 'Apartamento y spa Andes',
 'Apartamento y spa Ushuaia',
 'Apartamentos "El Atardecer" The Sunset "',
 'Apartment 2 Pax un Condo between hill and lake',
 'Apartment Leloir',
 'Apolo Suite 2 dormitorios y cochera cubierta',
 'Arrayán.  Luminoso y acogedor departamento',
 'Asombrosa casa en Bariloche',
 'Atelier al Mar',
 'Austral 9410',
 'AzulTDF C !Fabulosas vacaciones Ushuaia!',
 'B) Cama en cuarto mixto compartido',
 'BARDO',
 'BOG Cabaña en medio de la naturaleza',
 'BOG Cabaña moderna rodeada de naturaleza',
 'BOG Casa con hogar a leña',
 'Babel Soft - Las Violetas',
 'Bahia Marinas',
 'Bahía Manzano -4 pax-Del 17/6 al 24 /6 de  2023',
 'Bahía de Ushuaia',
 'Balcón al paraíso.',
 'Bariloche Mountain Tiny',
 'Barrio Arevalo - AMUEBLADO COMAHUE',
 'Beagle Apartamento y Spa',
 'Beagle Suites - Apt Del Bosque',
 'Beagle Suites - Apt del Canal',
 'Beautiful Apartment in Ushuaia',
 'Beautiful studio with great views',
 'Bella Vista 2',
 'Bello departamento con vista al mar.',
 'Bello depto para 3, con vista al lago y balcón',
 'Bello y luminoso dpto en Esquel',
 'Bellísima Habitación Privada en Puerto Madryn',
 'Bim 5',
 'Bim 8',
 'Blues céntrico',
 'Bonito departamento para disfrutar Ushuaia',
 'Boutique sobre el lago !',
 'Brisa de Mar - Puerto Madryn',
 'Bruna apart',
 'Bruna apart te espera!',
 'Buena Vista Trevelin II',
 'C) Cama en cuarto mixto compartido',
 'CABAÑA CON COSTA DE LAGO',
 'CABAÑA DE CUENTO SOBRE RIO CARRILEUFU',
 'CABAÑA ESTILO KEY WEST, EN PATAGONIA',
 'CASA DE MONTAÑA CON DISEÑO',
 'CASA PANORÁMICA.',
 'CENTRO DE LOFT!! ALTO COMAHUE COMPRAS!!',
 'Cabaña Americana  con pileta climatizada',
 'Cabaña Andina de Montaña',
 'Cabaña Bittehus',
 'Cabaña Bosque Bahía Protegida Costa Lago',
 'Cabaña Don Manuel, para descansar y disfrutar',
 'Cabaña El Remanso, Bahía Manzano (AND11)',
 'Cabaña El Remanso, Bahía Manzano (AND12)',
 'Cabaña Lago Bahía Protegida Costa Lago',
 'Cabaña Lago Lolog, San Martin de Los Andes I',
 'Cabaña Lago Puelo',
 'Cabaña Las Lavandas',
 'Cabaña Las Piedritas',
 'Cabaña Lavanda costa y muelle al Lago Nahuel Huapi',
 'Cabaña Los Robles vista Bosque  4 personas  Relax',
 'Cabaña Nórdica , vista increíble al Lago y Cerros',
 'Cabaña Raulí para 8 con jacuzzi',
 'Cabaña Refugio de Viento',
 'Cabaña Rural a 25 minutos de Trevelin',
 'Cabaña Rural en Parque Nacional Los Alerces',
 'Cabaña a Estrenar',
 'Cabaña al pie de Montaña en entorno de Bosque',
 'Cabaña cerca del Cerro Catedral',
 'Cabaña cerca del lago y supermercados mayoristas.',
 'Cabaña con jardin a pasos de Bariloche',
 'Cabaña con pileta y parrilla',
 'Cabaña de 1 dormitorio con chimenea cerca del centro',
 'Cabaña de MONTAÑA  con excelente vista.',
 'Cabaña de Playa. Bajada 7',
 'Cabaña de ensueño con hermosas vistas',
 'Cabaña de estilo patagónico',
 'Cabaña de montana Nivis - Vista al Lacar',
 'Cabaña en Bariloche a minutos del Centro',
 'Cabaña en Ushuaia, ANDORRA LA VELLA',
 'Cabaña en Villa la Angostura',
 'Cabaña en el bosque',
 'Cabaña en el bosque, Bariloche, Patagonia',
 'Cabaña en el bosque, cerca del centro de Ski',
 'Cabaña en la montaña"Huet Huet"',
 'Cabaña en la montaña: El Bosque',
 'Cabaña en la montaña: La Cascada',
 'Cabaña en la montaña: La Chakana',
 'Cabaña en los kilómetros',
 'Cabaña entera / departamento.',
 'Cabaña frente al lago',
 'Cabaña nueva vista a los cerros',
 'Cabaña nueva vista al Bayo',
 'Cabaña para dos, calidez y confort. Alma Radal B',
 'Cabaña rústica y luminosa con vista panorámica',
 'Cabaña sobre el lago.',
 'Cabaña soñada sobre costa de lago en Bariloche',
 'Cabañas Los Cerezos Esquel',
 'Cabañas MARI MARI (PUELO)',
 'Cabañas Tanu',
 'Cabañas Waldesruh',
 'Cabañas del Fin del Mundo',
 'Camino al lago III',
 'Canal',
 'Carabelli Departamento Centrico',
 'Casa - Quincho y parque',
 'Casa 470',
 'Casa Bosque',
 'Casa Camarones',
 'Casa Del Beagle',
 'Casa Don Arelauquen Nueva y Moderna',
 'Casa Fran',
 'Casa Fueguina en Centro',
 'Casa Los Rombos.',
 'Casa Náutica La Cascada con Vista al Lago.',
 'Casa Nómada Rodante - Mutisia',
 'Casa PB Andes View Bariloche. Jacuzzi y Parrilla.',
 'Casa Pajaro Carpintero',
 'Casa Paseo Ushuaia',
 'Casa Pequeña, Gran Experiencia 📸Casa Pequeña Bariloche',
 'Casa Pravia',
 'Casa Quincho Ideal para familias.',
 'Casa Residencia artística Sueño del bosque.',
 'Casa San Benito',
 'Casa Siempre Verde',
 'Casa Sol solar,a mts del río.',
 'Casa Waiwen: calidez y cercanía',
 'Casa a metros del centro y terminal',
 'Casa barrio de sueños',
 'Casa completa. El Halcón\n4 dormitorios',
 'Casa con pileta y acceso a playa',
 'Casa con vista panorámica al lago Nahuel Huapi',
 'Casa con vista y acceso al Lago en El Chocón',
 'Casa cálida en un lugar mágico',
 'Casa cómoda iluminada en zona tranquila y segura',
 'Casa cómoda, ideal para familias a 16 cuadras',
 'Casa de Campo cerca del Río',
 'Casa de Campo con Tina de agua caliente Trevelin',
 'Casa de Cecilia',
 'Casa de artista con senderos & arroyo',
 'Casa de campo Dragón Rojo',
 'Casa de campo en la Patagonia Esteparia',
 'Casa de campo en la montaña Bariloche',
 'Casa de campo patagónica junto al lago  (costa privada)',
 'Casa de campo sobre ruta 22- "Brisas del Limay"',
 'Casa de chacra para disfrutar de la naturaleza',
 'Casa de huéspedes Cholila Lake',
 'Casa de huéspedes costa de lago',
 'Casa de madera con amplio jardín en Circuito Chico',
 'Casa de montaña c/ vista al lago  - Radales',
 'Casa de montaña c/ vista al lago - Arrayanes',
 'Casa de montaña c/ vista al lago - Cipreses',
 'Casa de montaña c/ vista al lago - Maitenes',
 'Casa de montaña en el centro ',
 'Casa de montaña serena. A poca distancia en auto del lago, el río.',
 'Casa de troncos sobre Ruta nac.40',
 'Casa dos habitaciones',
 'Casa dúplex , con patio',
 'Casa en Bariloche sobre costa de lago',
 'Casa en Barrio Los Arcos',
 'Casa en Playa unión, ballenas, surf, Patagonia.',
 'Casa en Puerto Manzano',
 'Casa en Ushuaia',
 'Casa en Ushuaia frente al mar',
 'Casa familiar con cálido jardín',
 'Casa frente al bosque camino al Parque Nacional',
 'Casa frente al lago',
 'Casa ideal para descansar. Estacionamiento privado',
 'Casa moderna y tranquila en un amplio terreno',
 'Casa moderna, céntrica, grande y con cochera.',
 'Casa muy cómoda cerca del río y paseos',
 'Casa nueva equipada con patio',
 'Casa nueva moderna de 2 morenos',
 'Casa para 4 personas zona centro',
 'Casa particular con habitaciones privadas',
 'Casa tipo duplex muy cómoda con patio y parrilla',
 'CasaLoma, cabaña de montaña, Bariloche',
 'Casas Arrayanes',
 'Casas Calafate VLA',
 'Casita Amulén',
 'Casita Container al rio y a 30 min del Mar!',
 'Casita Far West',
 'Casita Hillside',
 'Casita Indigo',
 'Casita en el corazón de Esquel',
 'Casita en plottier súper segura',
 'Casita vegetariana  en la naturaleza',
 'Cañadon bonito - Cabaña Cipres',
 'Center Suites  Bariloche - Lake View',
 'Centro - BIM 5°',
 'Centro - BIM 8°',
 'Centro-Playa, habitacion doble, baño privado.',
 'Cerca de la playa y del centro',
 'Cipolletti Casa250m2 C/Pileta, 8 Pax-Min 01 Semana',
 'Como en casa en el fin del mundo!!!!!',
 'Comodidad Patagonal Loft',
 'Comodo Monoambiente en puerto madryn',
 'Compras en Dpto Alto Comahue',
 'Con Cochera, ideal viajeros.',
 'Condo in Neuquen Downtown',
 'Condor',
 'Confortable Cabaña de troncos',
 'Confortable casa en zona céntrica',
 'Container Studio',
 'Contenedor a orillas del Río',
 'Contenedor-loft',
 'Coralillos A',
 'Costa Nahuel Apartments',
 'Cozy Flat, with incredible views.',
 'Cuarto cálido en casa entre 3 lagos con jardín',
 'CÁLIDO DEPARTAMENTO EN ZONA CENTRO',
 'CÉNTRICO LOFT Alto Comahue Shopping!!!',
 'Cálida cabaña a orillas del lago con hidromasaje',
 'Cálida cabaña en el centro de Trevelin.',
 'Cálida casa sobre el lago para hasta 7 pax',
 'Cálido Sur!',
 'Cálido depto. con patio en Esquel',
 'Cálido sur',
 'Cálido y moderno con vista al lago',
 'Céu Playa Unión',
 'Cómoda casa de huéspedes nueva con parrilla',
 'Cómodas Habitaciones, 50 m del Mar con Desayunador',
 'Cómodo Monoambiente en Neuquen-zona Alto Comahue',
 'Cómodo apartamento',
 'Cómodo cuarto en casa compartida',
 'Cómodo departamento en el Centro de Cipolletti.',
 'Cómodo y luminoso monoambiente céntrico',
 'D) Cuarto doble privado',
 'DAMCHE   Vista al Mar',
 'DELOQUI CENTRO - DEPTO CENTRICO - 2 HABITACIONES',
 'DEPARTAMENTO LIMAY I',
 'DEPARTAMENTO LIMAY II',
 'DEPARTAMENTO VIDA - LOS CANELOS',
 'DEPARTAMENTOS SAN MARTÍN - UNIDAD F',
 'DESAPARTAMENTO SAN MARTÍN - UNIDAD E',
 'Dep,AlquilerTemporario,Acogedor',
 'Departamento 1 dorm c/ balcón',
 'Departamento 1 dormitorio NQN',
 'Departamento 4 pax vista al lago',
 'Departamento Alto Neuquén',
 'Departamento Amoblado',
 'Departamento Amoblado Neuquén',
 'Departamento Amplio y Luminoso',
 'Departamento Arcoiris',
 'Departamento Bella Vista',
 'Departamento Central y Playero',
 'Departamento Centro',
 'Departamento Costanera.',
 'Departamento Céntrico Neuquen Capital nuevo',
 'Departamento Céntrico y amplio en Neuquen Capital',
 'Departamento Duplex',
 'Departamento Hermoso 4',
 'Departamento LOS RODODENDROS  2 dormitorios',
 'Departamento Las Bandurrias',
 'Departamento Leloir Neuquén',
 'Departamento Libertad Daniel DOS',
 'Departamento Moderno y Luminoso Centro Bariloche',
 'Departamento Neuquén centro A',
 'Departamento RUBI. zona residencial.',
 'Departamento Reflejo de Montaña',
 'Departamento Solmar',
 'Departamento Torre Quarz',
 'Departamento a 1 cuadra del mar',
 'Departamento al canal de Beagle',
 'Departamento amoblado a nuevo',
 'Departamento amoblado de un dormitorio 43m2.',
 'Departamento amplio luminoso y hermoso en Neuquén',
 'Departamento amueblado',
 'Departamento amueblado moderno para dos personas',
 'Departamento barrio San Pablo',
 'Departamento centrico el Bonito Ushuaia',
 'Departamento cerca del Río Grande',
 'Departamento completo (N°2)  - Laguna Grande',
 'Departamento completo en el centro de Bariloche',
 'Departamento con amoblamiento a estrenar',
 'Departamento con balcón',
 'Departamento con balcón en complejo residencial',
 'Departamento con excelente ubicación y vistas',
 'Departamento con hermosa vista a la Bahía',
 'Departamento con increíble vista al lago N Huapi.',
 'Departamento con increíbles vistas y gran locación',
 'Departamento con inmejorable ubicación en Ushuaia',
 'Departamento con quincho, terraza y fogón',
 'Departamento con vista  en el centro de Bariloche',
 'Departamento con vista a las montañas en Ushuaia',
 'Departamento con vista abierta  a las montañas',
 'Departamento con vista al mar en PLENO centro',
 'Departamento con vista al mar. Pet Friendly.',
 'Departamento céntrico 28 05',
 'Departamento céntrico Cipolletti',
 'Departamento céntrico JUANA',
 'Departamento céntrico a 2 cuadras del mar',
 'Departamento céntrico de dos ambientes',
 'Departamento céntrico en Neuquén',
 'Departamento de 2 ambientes -vista al Canal Beagle',
 'Departamento de 3 ambientes con vista al Mar.',
 'Departamento de Ana y José',
 'Departamento de Ana y José - 2 personas',
 'Departamento de KIRU con vista al lago',
 'Departamento de ensueño en barrio residencial',
 'Departamento de un dormitorio con sala de estar.',
 'Departamento en Loft',
 'Departamento en Ushuaia totalmente equipado.',
 'Departamento en el centro con estacionamiento',
 'Departamento en el centro de Ushuaia- unico!',
 'Departamento en la costa del río Limay',
 'Departamento luminoso centrico',
 'Departamento luminoso, con vista a la montaña.',
 'Departamento moderno y confortable',
 'Departamento monoambiente equipado frente al mar',
 'Departamento para 2. Excelente ubicación.',
 'Departamento para 3 personas!',
 'Departamento reciclado',
 'Departamento sobre el Lago!',
 'Departamento sobre ruta 22 Plottier',
 'Departamento un dormitorio',
 'Departamento un dormitorio en Complejo con Piscina',
 'Departamento único en Puerto Madryn',
 'Departamentos Alberdi Neuquén',
 'Departamentos Leloir',
 'Departamentos para 2 pasajeros',
 'Departamentos “Al Sur”',
 'Depto 1 Dormitorio Neuquén',
 'Depto 1 dorm céntrico, excelente!',
 'Depto Increíble vista al canal Beagle y montañas',
 'Depto Lanin-Sta Genoveva-Nqn',
 'Depto Malbec Céntrico c/parrilla y pileta',
 'Depto Rawson Puerto Madryn',
 'Depto Soñado en San Martín de los Andes (centro)',
 'Depto Vista al Lago & Isla Victoria en Llao Llao',
 'Depto con hermosa deco en zona centro de Neuquen',
 'Depto con piscina, gimnasio y seguridad 24 horas',
 'Depto con vista a montañas!',
 'Depto céntrico NQN',
 'Depto céntrico hab privada llave',
 'Depto céntrico para 5 personas',
 'Depto de Categoria Vista lago y piscina climatsa',
 'Depto de nivel con vista al lago y pileta',
 'Depto dos pax con vista',
 'Depto en el centro con terraza',
 'Depto hermoso con estacionamiento incluido.',
 'Depto. Centro de Neuquén. Wifi. Late check out.',
 'Depto. Nuevo Terraza Vista Mar',
 'Depto. Super Amplio en Polo, Arelauquen Golf Club',
 'Depto. Vista Nahuel Huapi',
 'Depto:  “El Jardín" para 3 Personas!',
 'Despertar en el lago',
 'Disfrutando Sur',
 'Disfrutá tu estadía en una zona privilegiada',
 'Divino Departamento con Balcón',
 'Domos Puelo, para dos, con jacuzzi',
 'Don Bosco 1ero',
 'Dos habitaciones, casa amplia, jardín y parrilla.',
 'Downtown Studio con vista al Jardín',
 'Downtown and Beach with seaview',
 'Dpto  B° Lejos de Buenos Aires.',
 'Dpto 1 dorm pleno centro',
 'Dpto 1 dorm, pleno centro de Nqn',
 'Dpto Kotaix - Ush AustraLis',
 'Dpto Senderos de Andorra',
 'Dpto Tecka',
 'Dpto acogedor, céntrico y seguro',
 'Dpto con balcón terraza excelente vista',
 'Dpto céntrico a 50mts del mar!',
 'Dpto céntrico, en complejo residencial con pileta.',
 'Dpto en cabaña de montaña c/vistas a la cordillera',
 'Dpto en el centro de Cipolletti',
 'Dpto nuevo a 5 ´del centro con estacionamiento',
 'Dpto nuevo con aire en una hermosa zona.',
 'Dpto, Micro centro, N/ managerial',
 'Dpto.  céntrico. Cerca del Monumento a San Martín.',
 'Dpto. frente al mar Piso 3',
 'Duplex',
 'Duplex  luminoso, 2 cuadras de la playa',
 'Duplex Minimalista -Amplio y Calido',
 'Duplex Playa Union- A tan solo 150mts del mar',
 'Duplex con estacionamiento y jardin',
 'Dúplex Hermoso y Luminoso!',
 'Dúplex amoblados de dos dormitorios',
 'Dúplex moderno y luminoso, con vista al Cerro 21',
 'Dúplex, 4 personas, 10 mins del centro Conf Urbana',
 'EL ALTILLO',
 'ESTUDIO A 20 METROS DEL CIVICO CENTER, VISTA AL LAGO.',
 'ESTUDIO A ESTRENAR PARA DOS PERSONAS/NEW STUDIO!',
 'EXCEPCIONAL ALTO COMAHUE SHOPPING! Dpto 2 dorm!',
 'Edificio Nikemen Dpto 5 c/patio y cochera cubierta',
 'Edificio Nikemen Dpto 8 c/patio y cochera cubierta',
 'El Atardecer zona shopping de la Patagonia',
 'El Descanso B&B-Cuarto del Bosque.',
 'El Dpto. de Morita',
 'El Halcón . Casa principal y huéspedes.',
 'El Indio, habitación Jazmín',
 'El Indio, habitación Retama',
 'El Mononoambiente, con vista al lago',
 'El Refugio Miralejos, cabaña en la montaña',
 'El Remanso de la  Angostura b&b',
 'El Resuello, un lugar para disfrutar',
 'El Sol de Zoe la Luna de Mateo',
 'El Tornado A.',
 'El Tornado B',
 'El lugar de Ana - Am. Comahue',
 'El mejor mantener el lugar secreto y además',
 'En_Ushuaia',
 'En_Ushuaia II',
 'Encantador departamento céntrico',

+ Columna 2: category

In [530]:
# Vemos que tiene valores bien definidos, que no necesitan normalizar
df_alquileres['category'].unique()

array(['entire_home', 'private_room', 'shared_room'], dtype=object)

In [531]:
# Verificamos que no tienen  na
df_alquileres['category'].isna().sum()

0

In [532]:
# Cambiamos el tipo de la serie
df_alquileres['category'] = df_alquileres['category'].astype('category')

+ Columna 3: rating

In [533]:
# Vemos que tiene valores bien definidos, que no necesitan normalizar
df_alquileres['rating'].unique()

array([nan, '5,0 (6)', '4,91 (70)', 'Nuevo', '4,96 (95)', '4,86 (7)',
       '4,82 (17)', '4,96 (75)', '4,91 (67)', '4,57 (14)', '4,6 (5)',
       '4,94 (18)', '4,95 (22)', '4,92 (64)', '4,94 (109)', '4,77 (44)',
       '4,89 (35)', '5,0 (7)', '4,66 (53)', '5,0 (34)', '4,98 (93)',
       '4,96 (51)', '4,82 (66)', '4,8 (51)', '4,83 (36)', '4,9 (20)',
       '5,0 (17)', '4,65 (49)', '4,7 (33)', '4,89 (9)', '4,97 (90)',
       '5,0 (10)', '4,79 (30)', '4,86 (74)', '4,86 (44)', '4,63 (128)',
       '5,0 (3)', '4,88 (16)', '4,81 (32)', '5,0 (9)', '4,93 (27)',
       '4,92 (13)', '4,5 (4)', '4,77 (13)', '4,67 (12)', '4,9 (176)',
       '4,95 (19)', '4,8 (15)', '5,0 (14)', '4,79 (14)', '5,0 (4)',
       '5,0 (19)', '4,67 (6)', '4,82 (137)', '5,0 (11)', '4,77 (102)',
       '4,47 (55)', '4,76 (134)', '4,74 (19)', '4,96 (27)', '4,91 (11)',
       '4,93 (15)', '4,62 (13)', '4,55 (33)', '4,4 (5)', '4,72 (25)',
       '4,58 (76)', '4,73 (11)', '4,83 (60)', '4,93 (28)', '4,7 (10)',
       '4,76 (85)', '4,52 (141)', '4,35 (27)', '5,0 (12)', '5,0 (5)',
       '4,5 (39)', '4,38 (13)', '5,0 (41)', '4,97 (63)', '4,81 (74)',
       '4,74 (34)', '4,45 (11)', '4,83 (6)', '4,9 (39)', '4,88 (8)',
       '4,73 (27)', '4,88 (42)', '4,63 (40)', '4,73 (49)', '4,69 (39)',
       '4,84 (19)', '4,85 (13)', '3,8 (5)', '4,98 (40)', '4,96 (23)',
       '5,0 (8)', '4,93 (14)', '4,89 (53)', '4,72 (69)', '4,85 (173)',
       '5,0 (36)', '4,8 (31)', '4,96 (70)', '4,93 (58)', '4,67 (3)',
       '4,89 (70)', '5,0 (47)', '4,72 (43)', '4,91 (22)', '4,69 (101)',
       '4,31 (17)', '5,0 (18)', '4,6 (176)', '5,0 (16)', '4,28 (43)',
       '4,81 (69)', '4,86 (28)', '4,75 (4)', '4,88 (25)', '4,71 (7)',
       '4,84 (31)', '4,67 (9)', '5,0 (23)', '4,84 (25)', '4,71 (15)',
       '4,8 (5)', '4,96 (50)', '4,5 (10)', '4,71 (165)', '4,62 (47)',
       '4,97 (32)', '4,83 (122)', '4,56 (94)', '4,91 (33)', '4,25 (4)',
       '4,86 (56)', '5,0 (63)', '4,92 (12)', '4,85 (26)', '4,76 (26)',
       '4,5 (8)', '4,63 (8)', '4,8 (25)', '4,68 (22)', '4,95 (41)',
       '5,0 (57)', '4,83 (30)', '4,92 (92)', '4,9 (10)', '4,84 (85)',
       '4,79 (43)', '4,91 (69)', '3,33 (3)', '4,75 (106)', '4,87 (70)',
       '4,44 (9)', '4,88 (89)', '4,6 (10)', '4,86 (22)', '4,9 (67)',
       '4,33 (6)', '4,86 (35)', '4,94 (16)', '4,2 (5)', '4,73 (15)',
       '4,9 (64)', '4,89 (19)', '4,87 (115)', '4,43 (35)', '4,71 (21)',
       '3,67 (3)', '3,0 (3)', '4,92 (25)', '4,5 (17)', '5,0 (15)',
       '4,39 (18)', '4,91 (35)', '4,72 (18)', '4,67 (39)', '4,79 (15)',
       '3,75 (4)', '4,8 (10)', '4,41 (22)', '4,74 (60)', '4,71 (52)',
       '5,0 (28)', '4,82 (78)', '5,0 (46)', '5,0 (58)', '4,89 (37)',
       '4,98 (51)', '5,0 (49)', '5,0 (59)', '4,95 (93)', '4,76 (254)',
       '4,75 (20)', '5,0 (25)', '4,71 (17)', '4,95 (39)', '4,92 (248)',
       '4,99 (285)', '4,96 (53)', '4,67 (15)', '4,62 (50)', '4,75 (12)',
       '4,96 (83)', '4,92 (50)', '4,88 (67)', '5,0 (55)', '4,73 (62)',
       '4,85 (33)', '4,97 (37)', '4,69 (55)', '4,8 (60)', '4,95 (88)',
       '4,95 (58)', '4,88 (32)', '4,98 (127)', '4,86 (29)', '4,94 (78)',
       '4,91 (55)', '4,52 (302)', '4,6 (40)', '4,88 (26)', '4,91 (245)',
       '4,65 (149)', '4,97 (59)', '4,95 (63)', '4,87 (15)', '4,79 (42)',
       '4,98 (122)', '4,9 (41)', '4,81 (119)', '4,55 (11)', '4,91 (200)',
       '4,85 (39)', '4,89 (236)', '4,9 (30)', '4,92 (287)', '4,98 (46)',
       '4,86 (57)', '5,0 (53)', '4,51 (47)', '4,83 (12)', '4,97 (111)',
       '4,76 (119)', '4,97 (72)', '5,0 (33)', '4,34 (94)', '4,93 (76)',
       '4,94 (79)', '4,92 (37)', '4,74 (23)', '4,75 (28)', '4,91 (54)',
       '4,56 (264)', '4,95 (21)', '4,84 (69)', '5,0 (26)', '4,79 (135)',
       '4,98 (44)', '4,86 (37)', '4,47 (49)', '4,94 (35)', '4,86 (104)',
       '4,89 (61)', '4,79 (114)', '4,95 (117)', '4,84 (141)', '4,92 (90)',
       '4,96 (190)', '4,96 (191)', '4,81 (26)', '4,9 (134)', '4,87 (90)',
       '4,9 (62)', '4,92 (39)', '4,97 (70)', '4,77 (31)', '4,91 (98)',
       '4,68 (25)', '4,98 (61)', '4,98 (220)', '4,95 (133)', '4,87 (79)',
       '4,51 (181)', '5,0 (30)', '4,97 (31)', '4,84 (98)', '4,94 (17)',
       '4,94 (32)', '4,8 (49)', '4,96 (108)', '4,96 (28)', '4,96 (48)',
       '4,56 (46)', '4,95 (97)', '4,96 (98)', '4,91 (68)', '4,91 (104)',
       '4,76 (135)', '4,84 (49)', '4,89 (108)', '4,88 (24)', '4,92 (96)',
       '4,68 (175)', '4,99 (124)', '4,86 (52)', '4,9 (31)', '4,49 (87)',
       '4,89 (28)', '4,76 (140)', '4,7 (194)', '4,93 (121)', '4,3 (20)',
       '4,92 (100)', '4,98 (60)', '4,78 (37)', '4,94 (34)', '4,99 (102)',
       '4,89 (88)', '4,61 (84)', '4,91 (32)', '4,8 (30)', '4,75 (8)',
       '4,96 (102)', '4,96 (71)', '4,52 (65)', '5,0 (38)', '4,86 (14)',
       '4,73 (48)', '4,93 (153)', '4,8 (74)', '5,0 (13)', '4,57 (7)',
       '4,72 (39)', '4,59 (22)', '4,98 (41)', '4,7 (84)', '4,84 (67)',
       '4,68 (114)', '4,96 (55)', '4,78 (18)', '4,93 (40)', '4,97 (68)',
       '4,92 (61)', '4,95 (60)', '4,92 (79)', '4,99 (86)', '4,96 (69)',
       '4,9 (42)', '4,82 (50)', '4,63 (19)', '4,95 (42)', '4,96 (76)',
       '4,98 (99)', '4,94 (310)', '4,81 (63)', '4,87 (47)', '4,92 (24)',
       '4,92 (157)', '5,0 (31)', '4,96 (25)', '4,97 (34)', '4,91 (34)',
       '4,96 (54)', '4,81 (47)', '4,95 (66)', '4,83 (29)', '4,77 (26)',
       '4,85 (40)', '4,35 (40)', '4,5 (6)', '4,8 (40)', '4,96 (103)',
       '4,88 (52)', '4,94 (165)', '4,91 (23)', '4,81 (123)', '4,63 (174)',
       '4,96 (45)', '4,88 (56)', '4,92 (26)', '4,87 (23)', '4,97 (61)',
       '4,89 (18)', '4,95 (62)', '4,96 (79)', '4,89 (113)', '4,57 (28)',
       '4,96 (156)', '4,98 (94)', '4,93 (231)', '4,78 (126)', '4,62 (21)',
       '4,84 (62)', '4,92 (62)', '4,81 (21)', '4,84 (86)', '4,78 (45)',
       '4,9 (79)', '4,9 (68)', '4,81 (42)', '4,93 (42)', '4,88 (175)',
       '4,2 (20)', '4,77 (97)', '4,85 (20)', '4,97 (35)', '4,92 (36)',
       '4,84 (37)', '4,9 (108)', '5,0 (22)', '4,77 (79)', '4,97 (91)',
       '4,82 (45)', '4,64 (11)', '4,66 (228)', '4,94 (54)', '4,72 (67)',
       '4,92 (88)', '4,97 (30)', '4,36 (14)', '4,82 (73)', '5,0 (149)',
       '4,95 (111)', '4,97 (58)', '4,88 (208)', '4,94 (33)', '4,29 (7)',
       '4,85 (62)', '4,98 (49)', '4,97 (140)', '4,57 (38)', '4,88 (201)',
       '4,95 (80)', '4,79 (100)', '4,73 (30)', '4,9 (21)', '4,82 (11)',
       '4,76 (122)', '4,36 (22)', '4,96 (47)', '4,73 (154)', '4,8 (250)',
       '4,81 (64)', '4,76 (33)', '4,69 (26)', '4,84 (82)', '4,91 (81)',
       '4,72 (274)', '4,87 (30)', '4,73 (78)', '4,84 (45)', '4,96 (93)',
       '4,77 (30)', '5,0 (43)', '4,77 (57)', '4,85 (137)', '4,8 (41)',
       '4,86 (129)', '4,17 (6)', '4,53 (17)'], dtype=object)

In [534]:
# Tratamiento de la columna rating
# Separamos los valores correspondientes para limpiarlos
df_rating= df_alquileres['rating'].str.split(pat="[ ]",expand=True).add_prefix('Columna')

# Renombramos las columnas
df_rating.rename(columns={"Columna0": "rating", "Columna1": "votaciones"}, inplace=True)

In [535]:
# Limpiamos los valores para la columna rating
df_rating['rating'] = df_rating['rating'].replace(',','.')

In [536]:
#  Rellenamos los valores para las columnas rating y votaciones
# Rellenamos con un valor promedio, pero establecemos que no tiene votaciones
df_rating.fillna({'rating':'3.00','votaciones':'0'},inplace= True)
# Quedo en la columna rating, con valor particular que debemos sustituir: Nuevo
df_rating['rating'] = np.where(df_rating['rating'].str.lower().str.contains('nuevo'), '3.00', df_rating['rating'])

In [537]:
# Reemplazamos la columna por punto para la columna rating y lo cambiamos de tipo
df_rating['rating'] = df_rating['rating'].str.replace(',','.')
df_rating['rating'] = df_rating['rating'].astype('float64')

In [538]:
# Limpiamos la columna de votaciones para cambiarle el tipo
df_rating['votaciones'] = df_rating['votaciones'].str.replace('(','').str.replace(')','')
df_rating['votaciones'] = df_rating['votaciones'].astype('int')

In [539]:
# Enriquecemos el dataframe de alquileres con las columnas de rating y votaciones
df_alquileres= df_alquileres.merge(df_rating,how='left',left_index=True,right_index=True,suffixes=('', '_y'))
df_alquileres[['rating_y','votaciones']].head()

   rating_y  votaciones
0      3.00           0
1      3.00           0
2      5.00           6
3      4.91          70
4      3.00           0

In [540]:
# Actualizamos las columnas del dataframe rating y votaciones
df_alquileres['rating']= df_alquileres['rating_y']
df_alquileres = df_alquileres.drop('rating_y',axis=1)
df_alquileres.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1028 entries, 0 to 1079
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_alojamiento    1028 non-null   int64
 1   name              1028 non-null   object
 2   category          1028 non-null   category
 3   rating            1028 non-null   float64
 4   city              1024 non-null   object
 5   latitude          1028 non-null   float64
 6   longitude         1028 non-null   float64
 7   characteristics   1028 non-null   object
 8   check_in          1028 non-null   object
 9   check_out         1028 non-null   object
 10  price_discounted  191 non-null    object
 11  price_original    1028 non-null   object
 12  price_qualifier   1028 non-null   object
 13  cant_resultados   1028 non-null   int64
 14  fecha_scrapping   1028 non-null   object
 15  fecha_cambio_bna  1028 non-null   object
 16  cambio_bna        1028 non-null   float64
 17  provincia         1028 non-null   object
 18  votaciones        1028 non-null   int32
dtypes: category(1), float64(4), int32(1), int64(2), object(11)
memory usage: 149.7+ KB

+ Columna 4: city

In [541]:
# Vemos que tiene valores bien definidos, que no necesitan normalizar
df_alquileres['city'].unique()

array(['Puerto Madryn', 'Comodoro Rivadavia', 'Trelew', 'Esquel',
       'Puerto Piramides', 'Puerto Pirámides', 'Trevelin', 'Cholila',
       'Epuyén', 'Playa Unión', 'Lago Puelo', 'Playa Union', 'Rada Tilly',
       'Rawson', 'Biedma', 'Esquel,', 'Gaiman', 'El Hoyo', 'Cushamen',
       'Playa Magagna', 'Camarones', 'Biedma Department',
       'Gobernador Costa', 'Corcovado, Chubut', 'Neuquén', 'Neuquen',
       'BVH', 'Cipolletti', 'MDJ', 'Plottier', 'Confluencia',
       'Centenario', nan, 'Q8302ATE', 'JKB', 'Las Perlas', 'KCN',
       'Q8300MDJ', 'Confluencia Department', 'San Martín de Los Andes',
       'BGJ', 'Villa Traful', 'Villa La Angostura',
       'San Carlos de Bariloche', 'Bariloche', 'San Martin de los Andes',
       'Dina Huapi', 'Lácar', 'San Martín de los Andes', 'La Villa',
       'San Carlos de Bariloche-  Península de San Pedro',
       'Villa la Angostura ', 'Los Lagos', 'Puerto Manzano', 'Bariloche ',
       'San Carlos de Bariloche, Río Negro, AR', 'Viedma',
       'Lácar Department', 'Villa La Angostura, Neuquén Argentina',
       'Las grutas', 'Las Grutas', 'Villa la Angostura', 'El Bolsón',
       'Junín de los Andes', 'Los Lagos Department', 'Villa Llao Llao',
       'Ushuaia', 'Río Grande', 'BMR', 'Tolhuin', 'Rio Grande', 'BAX',
       'DFF', 'BDP', 'AWF', 'AJK', 'DWC', 'DND', 'AIU', 'DSB', 'DID'],
      dtype=object)

In [542]:
# Como vemos que varias ciudades son la misma pero con alguna diferencia tipografica, tratamos de normalizar los valores
df_alquileres['city'] = df_alquileres['city'].str.strip().str.upper()
df_alquileres.head()

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia,votaciones
0,855050336912355203,North Beach,entire_home,3.00,PUERTO MADRYN,-42.756301,-65.037517,"['2 camas', '1 dormitorio', '1 baño']",2023-07-06,2023-07-12,NaN,$38 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0
1,51484364,Hermoso Monoambiente con Vista al Mar y Pileta,entire_home,3.00,PUERTO MADRYN,-42.755775,-65.037265,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-21,2023-07-26,$18 USD,$24 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0
2,800749301724167838,Departamento Bella Vista,entire_home,5.00,PUERTO MADRYN,-42.768007,-65.033108,"['3 camas', '1 dormitorio', '1 baño', 'Calific...",2023-08-01,2023-08-08,NaN,$43 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,6
3,50769917,New Lil’ & Cozy - 100mts de la playa Puerto Ma...,entire_home,4.91,PUERTO MADRYN,-42.777590,-65.025890,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-09,2023-07-14,NaN,$41 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,70
4,916738743930751566,Front Beach,entire_home,3.00,PUERTO MADRYN,-42.770540,-65.030810,"['2 camas', 'Monoambiente', '1 baño']",2023-07-01,2023-07-06,NaN,$35 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0

In [543]:
# Quitamos los tildes
df_alquileres['city'] = df_alquileres['city'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df_alquileres.head()

,id_alojamiento,name,category,rating,city,latitude,longitude,characteristics,check_in,check_out,price_discounted,price_original,price_qualifier,cant_resultados,fecha_scrapping,fecha_cambio_bna,cambio_bna,provincia,votaciones
0,855050336912355203,North Beach,entire_home,3.00,PUERTO MADRYN,-42.756301,-65.037517,"['2 camas', '1 dormitorio', '1 baño']",2023-07-06,2023-07-12,NaN,$38 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0
1,51484364,Hermoso Monoambiente con Vista al Mar y Pileta,entire_home,3.00,PUERTO MADRYN,-42.755775,-65.037265,"['2 camas', '1 dormitorio', '1 baño', '1 cama ...",2023-07-21,2023-07-26,$18 USD,$24 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0
2,800749301724167838,Departamento Bella Vista,entire_home,5.00,PUERTO MADRYN,-42.768007,-65.033108,"['3 camas', '1 dormitorio', '1 baño', 'Calific...",2023-08-01,2023-08-08,NaN,$43 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,6
3,50769917,New Lil’ & Cozy - 100mts de la playa Puerto Ma...,entire_home,4.91,PUERTO MADRYN,-42.777590,-65.025890,"['1 cama', '1 dormitorio', '1 baño', '1 cama q...",2023-07-09,2023-07-14,NaN,$41 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,70
4,916738743930751566,Front Beach,entire_home,3.00,PUERTO MADRYN,-42.770540,-65.030810,"['2 camas', 'Monoambiente', '1 baño']",2023-07-01,2023-07-06,NaN,$35 USD,noche,1000,2023-06-24,2023-05-01,239.919355,CHUBUT,0

In [544]:
# Recopilamos los datos de ciudades que tienen lugeres turisicos, segun la provincia, para tratar de agruparlas
aux_ciudades = pd.read_csv('Provincias_Ciudades.csv',sep= ';',encoding='latin1')
aux_ciudades['ciudad'] = aux_ciudades['ciudad'].str.upper().str.strip()
aux_ciudades['ciudad'] = aux_ciudades['ciudad'].str.normalize(
    'NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
aux_ciudades.head()

               ciudad provincia
0    ALTO RIO SENGUER    CHUBUT
1    BAHIA BUSTAMANTE    CHUBUT
2           CAMARONES    CHUBUT
3             CHOLILA    CHUBUT
4  COMODORO RIVADAVIA    CHUBUT

In [545]:
# Creamos una columna city2, que va a a guardar los valores resultantes para city
df_alquileres['city2'] = df_alquileres['city']


# Parametros para los cuales buscar la mejor aproximacion por fuzzy
provincias = ['TIERRA DEL FUEGO', 'NEUQUEN', 'RIO NEGRO', 'CHUBUT']
# Valres de match que aceptamos
aprobaciones = [80, 80, 80, 80]

# rr=0;
# iter=0
# Iteramos por indice, para provincias y aprobaciones
for indice in range((len(provincias))):
    # Iteramos  por cada ciudad segun la provincia
    for _, row in df_alquileres.loc[df_alquileres['provincia']==provincias[indice]].iterrows():
        ciudad_probar = str(row['city'])
        #aloj=-1
        #iter+=1
        max_coincidencia=0
        encontro = False
        # Recorremos la lista de ciudades de la provincia recabados para verificar
        for valor_correcto in aux_ciudades.loc[aux_ciudades['provincia'] == provincias[indice]]['ciudad']:            
            # Obtenemos el ratio de coincidencia
            coincidencia = fuzz.ratio(ciudad_probar, valor_correcto)
            #print(f"Iteraccion: {iter},id_Alojamiento:{row['id_alojamiento']} index: {_} ==== Comparo {ciudad_probar} de {str(row['provincia'])} , con {valor_correcto} de {provincias[indice]}. Resultdo {coincidencia}")
            # Si el puntaje de la coincidencia es mayor que la vigente
            if coincidencia > max_coincidencia:
                # Guardar el valor correcto
                correccion = valor_correcto
                # Reemplazar el puntaje
                max_coincidencia = coincidencia                
                if (coincidencia > max_coincidencia) & (max_coincidencia >= aprobaciones[indice]):
                    # Guardar el valor correcto
                    correccion = valor_correcto
                    # Reemplazar el puntaje
                    max_coincidencia = coincidencia
                    # Reemplazo por el mejor valor aproximado, en la columna auxiliar
                    df_alquileres['city2']=correccion
                    # Aviso que encontre algo
                    encontro = True
        # Si no encontre una coincidencia suficiente, cambio de macheo
        if( not encontro):
            # Recorremos la lista de departamentos
            max_coincidencia_parcial = 0            
            for valor_correcto_parcial in aux_ciudades.loc[aux_ciudades['provincia'] == provincias[indice]]['ciudad']:
                # Obtenemos el ratio de coincidencia
                coincidencia_parcial = fuzz.partial_ratio(ciudad_probar, valor_correcto_parcial)
                # print(f"Iteraccion: {iter},id_Alojamiento:{row['id_alojamiento']} index: {_} ==== Comparo {ciudad_probar} de {str(row['provincia'])} , con {valor_correcto_parcial} de {provincias[indice]}. Resultdo {coincidencia_parcial}")
                # Si el puntaje de la coincidencia es mayor que la vigente
                if coincidencia_parcial > max_coincidencia_parcial:
                    # Guardar el valor correcto
                    correccion_parcial = valor_correcto_parcial
                    # Reemplazar el puntaje
                    max_coincidencia_parcial = coincidencia_parcial
                    if (coincidencia_parcial > max_coincidencia_parcial) & (max_coincidencia_parcial >= aprobaciones[indice]):
                        # Guardar el valor correcto
                        correccion_parcial = valor_correcto_parcial
                        # Reemplazar el puntaje
                        max_coincidencia_parial = coincidencia_parcial                        
                        # Asigno el mejor valor posible encontrado
                        df_alquileres['city2']=correccion_parcial
                        encontro = True
                        
                        
# En caso de que no se cumpla con las condiciones del macheo, mantiene el valor para ciudad inicial

In [546]:
# Tenemos cuatro alojamientos que no tienen ciudad ingresada
df_alquileres['city'].isna().sum()

4

In [547]:
# Consideramos que la ciudad es un dato importante, y por la cantidad la accion a tomar es elimnar esos 4 registros
df_alquileres.dropna(subset=['city'],inplace= True)

In [548]:
df_alquileres['city']=df_alquileres['city2']
df_alquileres = df_alquileres.drop('city2', axis=1)

In [549]:
df_alquileres['city'].unique()

array(['PUERTO MADRYN', 'COMODORO RIVADAVIA', 'TRELEW', 'ESQUEL',
       'PUERTO PIRAMIDES', 'TREVELIN', 'CHOLILA', 'EPUYEN', 'PLAYA UNION',
       'LAGO PUELO', 'RADA TILLY', 'RAWSON', 'BIEDMA', 'ESQUEL,',
       'GAIMAN', 'EL HOYO', 'CUSHAMEN', 'PLAYA MAGAGNA', 'CAMARONES',
       'BIEDMA DEPARTMENT', 'GOBERNADOR COSTA', 'CORCOVADO, CHUBUT',
       'NEUQUEN', 'BVH', 'CIPOLLETTI', 'MDJ', 'PLOTTIER', 'CONFLUENCIA',
       'CENTENARIO', 'Q8302ATE', 'JKB', 'LAS PERLAS', 'KCN', 'Q8300MDJ',
       'CONFLUENCIA DEPARTMENT', 'SAN MARTIN DE LOS ANDES', 'BGJ',
       'VILLA TRAFUL', 'VILLA LA ANGOSTURA', 'SAN CARLOS DE BARILOCHE',
       'BARILOCHE', 'DINA HUAPI', 'LACAR', 'LA VILLA',
       'SAN CARLOS DE BARILOCHE-  PENINSULA DE SAN PEDRO', 'LOS LAGOS',
       'PUERTO MANZANO', 'SAN CARLOS DE BARILOCHE, RIO NEGRO, AR',
       'VIEDMA', 'LACAR DEPARTMENT',
       'VILLA LA ANGOSTURA, NEUQUEN ARGENTINA', 'LAS GRUTAS', 'EL BOLSON',
       'JUNIN DE LOS ANDES', 'LOS LAGOS DEPARTMENT', 'VILLA LLAO LLAO',
       'USHUAIA', 'RIO GRANDE', 'BMR', 'TOLHUIN', 'BAX', 'DFF', 'BDP',
       'AWF', 'AJK', 'DWC', 'DND', 'AIU', 'DSB', 'DID'], dtype=object)

+ Columna 5: latitude

In [550]:
df_alquileres['latitude'].info()

<class 'pandas.core.series.Series'>
Index: 1024 entries, 0 to 1079
Series name: latitude
Non-Null Count  Dtype
--------------  -----
1024 non-null   float64
dtypes: float64(1)
memory usage: 16.0 KB

In [551]:
df_alquileres['latitude'].unique()

array([-42.7563015 , -42.75577473, -42.76800685, -42.77759   ,
       -42.77054   , -42.76833   , -42.78191   , -42.76473   ,
       -42.7716337 , -42.7538    , -42.76864   , -45.81441   ,
       -42.76506   , -42.76887   , -43.25534   , -42.91027   ,
       -42.76985   , -42.767826  , -42.77496   , -45.86703   ,
       -42.56882   , -43.27444   , -43.25614   , -42.77106   ,
       -45.86496   , -42.91138   , -42.77884   , -42.9148784 ,
       -42.9132481 , -42.91526   , -42.9074621 , -42.7687445 ,
       -42.56749   , -43.09089   , -43.25905   , -42.76854884,
       -45.86038   , -42.91053   , -42.772861  , -42.65054   ,
       -42.76724   , -43.2591    , -42.77329   , -42.91809   ,
       -42.92146   , -42.76916   , -42.752541  , -42.5117    ,
       -42.77835745, -43.25566171, -42.7756997 , -42.90797   ,
       -42.22750854, -42.77086   , -42.91956   , -42.99143   ,
       -42.56918   , -42.77094   , -42.57219   , -42.56978   ,
       -43.32639   , -43.25009918, -42.77208   , -42.76935   ,
       -42.07014   , -42.81888191, -45.86604902, -42.91431705,
       -42.76963   , -42.771633  , -42.76816   , -42.76369   ,
       -42.57381   , -42.76679   , -45.86954   , -45.88623   ,
       -42.76411   , -42.77183   , -42.75601133, -43.27250815,
       -42.7728    , -43.32957   , -43.26677   , -42.91577   ,
       -42.76713   , -42.92098   , -42.75165   , -45.94051   ,
       -42.76325   , -42.5701796 , -42.77303   , -43.30769   ,
       -42.96826   , -42.08231   , -45.83140808, -42.7679307 ,
       -42.7702109 , -42.78721   , -42.22475   , -42.57059   ,
       -42.77352   , -42.78564   , -42.7686367 , -43.0791    ,
       -42.7556004 , -43.26192   , -45.86395035, -42.5692    ,
       -42.55495   , -42.57184   , -45.79489   , -43.08971   ,
       -42.9174908 , -43.25472   , -42.07991   , -42.7684451 ,
       -43.2959513 , -42.7877    , -42.73560705, -45.92581   ,
       -42.57075   , -42.76950503, -42.7736007 , -42.91328862,
       -43.36139927, -43.26205   , -42.56863   , -42.76199   ,
       -43.29895329, -42.81903   , -42.55574   , -42.7683    ,
       -45.8423936 , -43.11722   , -42.22845   , -42.7404    ,
       -43.31184784, -42.90106   , -42.91558   , -42.91955   ,
       -45.7867473 , -42.77502   , -42.7716    , -42.91945   ,
       -42.78432   , -42.77007455, -42.91924   , -42.91943   ,
       -42.57239   , -43.28613   , -42.56984   , -42.04157   ,
       -42.08521   , -43.08715231, -42.93587494, -42.10787   ,
       -43.24505   , -42.52704   , -43.08749   , -42.91482   ,
       -42.90887   , -42.91885   , -42.01807   , -42.78387   ,
       -43.38514618, -43.07145   , -42.77262899, -42.75479   ,
       -42.91127   , -43.25366   , -43.2599    , -43.2681828 ,
       -44.76791   , -42.0746    , -42.76238   , -43.10185   ,
       -42.77176   , -42.77067   , -42.81906556, -42.91071   ,
       -42.03401721, -42.91452   , -42.77193   , -42.91289   ,
       -42.90841   , -43.07799748, -45.9255475 , -42.78802748,
       -42.769     , -42.76418   , -45.94      , -42.5715    ,
       -42.78632109, -45.8425651 , -44.05505   , -42.5696    ,
       -42.73924811, -42.74857   , -42.78407   , -42.76702   ,
       -42.9091408 , -43.28652   , -42.9111    , -42.78466   ,
       -45.8712074 , -42.02988   , -42.78881114, -42.90782   ,
       -42.77034333, -42.06623   , -42.77121   , -42.971107  ,
       -42.76668   , -42.81955963, -45.8861    , -42.02044   ,
       -42.75657   , -42.06961   , -43.0723    , -42.78708   ,
       -42.11151   , -42.77102483, -42.90951362, -42.78787   ,
       -45.85967926, -42.78219   , -42.77068   , -43.31546734,
       -42.0571    , -43.293695  , -43.31442   , -42.903763  ,
       -42.78363858, -43.18388   , -44.79982   , -43.31587   ,
       -42.91851   , -42.77073   , -42.92466   , -42.78561   ,
       -42.75205   , -42.9152    , -42.75676   , -42.08011   ,
       -43.55545   , -42.7683769 , -45.86446   , -42.91759   ,
       -42.91931046, -38.95219   , -38.9422833 , -38.957577  ,
       -38.9476621 , -38.95335   , -38.95924   , -38.95383   ,
       -38.94962   , -38.95409797, -38.95141   , -38.95493   ,
       -38.95084   , -38.95422   , -38.95166   , -38.94983002,
       -38.94311   , -38.94364   , -38.94749786, -38.94956   ,
       -38.93828   , -38.94721   , -38.94836   , -38.94764   ,
       -38.94388313, -38.9400954 , -38.95398703, -38.95076   ,
       -38.94974   , -38.9423861 , -38.9401497 , -38.97751   ,
       -38.94559479, -38.96548   , -38.97931   , -38.94191   ,
       -38.9428009 , -38.951     , -38.94564414, -38.95362   ,
       -38.95428   , -38.9434    , -38.97937   , -38.93394   ,
       -38.95142   , -38.95275   , -38.95270797, -38.95233   ,
       -38.94319   , -38.94538   , -38.9437    , -38.94703   ,
       -38.94355   , -38.95051   , -38.94834   , -38.93805   ,
       -38.9618198 , -38.94458   , -38.94121   , -38.95916   ,
       -38.92813   , -38.94389   , -38.97899   , -38.95514   ,
       -38.97311   , -38.94805527, -38.95444   , -38.95191   ,
       -38.94951059, -38.9498527 , -38.92964   , -38.94838   ,
       -38.95121   , -38.9484    , -38.95202   , -38.94511   ,
       -38.9494    , -38.95476493, -38.93991   , -38.94492   ,
       -38.95313   , -38.94562   , -38.94301464, -38.9563    ,
       -38.94338   , -38.95039   , -38.95318   , -38.92795   ,
       -38.953239  , -38.94742   , -38.87437   , -38.93188073,
       -38.9532009 , -38.94924515, -38.93918174, -38.9427948 ,
       -38.95284   , -38.95520272, -38.94907   , -38.94814   ,
       -38.93435424, -38.94893   , -38.94297   , -38.95314   ,
       -38.94174   , -38.947     , -38.94776   , -38.94146   ,
       -38.95388   , -38.9486643 , -38.94975   , -38.97509   ,
       -38.94637   , -38.94709   , -38.954512  , -38.93327   ,
       -38.94611   , -38.95304   , -38.9483    , -38.94231   ,
       -38.95311   , -38.95375   , -38.92106142, -38.94885   ,
       -38.94145   , -38.95467   , -38.95863396, -38.9505315 ,
       -38.97383   , -38.95341   , -38.94873105, -38.94202   ,
       -38.94270483, -38.92527417, -38.94564   , -38.952599  ,
       -38.9333    , -38.9515    , -38.94303133, -38.96260727,
       -38.94563   , -38.9511405 , -38.96193   , -38.94296   ,
       -38.97625   , -38.95165   , -38.95159   , -38.9530645 ,
       -38.95864674, -38.94496   , -38.94697   , -38.93061   ,
       -38.95225   , -38.94741   , -38.90447   , -38.92369   ,
       -38.95292   , -38.96322   , -38.94222   , -38.97128   ,
       -38.96611   , -38.98253   , -38.95278   , -38.94399   ,
       -38.93949   , -38.92815   , -38.95061   , -38.95672   ,
       -38.9481    , -38.93657   , -38.94312   , -38.95174   ,
       -38.94272   , -38.96288   , -38.93768   , -38.96627   ,
       -38.9541    , -38.95411857, -38.9505668 , -38.94792837,
       -38.96021907, -38.92192   , -38.9485964 , -38.93244   ,
       -38.95899   , -38.95251   , -38.96332   , -38.91831   ,
       -38.94433212, -38.9619    , -38.945507  , -38.94808   ,
       -38.94903   , -38.93553   , -38.9741801 , -38.9514049 ,
       -38.94304   , -38.95277   , -38.95366   , -38.96776   ,
       -38.94257   , -38.95453   , -38.95317   , -38.94187   ,
       -38.95288   , -38.94646477, -38.94868117, -38.9604444 ,
       -38.95463   , -38.94227   , -38.95411   , -38.95184   ,
       -38.94429   , -38.92561828, -38.94887   , -38.954     ,
       -38.97733227, -38.94101   , -38.93958   , -38.94253092,
       -38.93819   , -38.93623   , -38.94902   , -38.93281   ,
       -38.95774   , -38.92239   , -38.95457   , -38.95607   ,
       -38.9593    , -38.94239   , -38.94325   , -38.94342   ,
       -38.9514    , -38.95338   , -38.95083   , -38.94368   ,
       -38.9391772 , -38.94829   , -38.94991   , -38.95348   ,
       -38.97032   , -38.94214   , -38.94514   , -38.96044   ,
       -38.94424   , -38.93786   , -38.9499698 , -38.94328   ,
       -38.94162   , -38.94133   , -38.96075   , -38.95374   ,
       -38.93971249, -38.94162262, -38.94341   , -38.93605   ,
       -38.9416    , -38.94933   , -38.95536   , -40.65294   ,
       -40.76661   , -41.11092   , -41.10077   , -41.04942   ,
       -40.12007   , -41.10157   , -41.16773   , -41.1836    ,
       -41.13387   , -41.17062   , -41.07261   , -41.05727   ,
       -41.0728856 , -41.10409   , -41.1179    , -41.13403   ,
       -40.17342   , -41.17058   , -41.17027   , -41.16724   ,
       -40.72454   , -41.1215    , -41.1234    , -41.12325   ,
       -41.06738466, -40.74      , -40.06005   , -41.13272   ,
       -41.06301   , -41.11388   , -41.133     , -41.11963   ,
       -41.12244   , -41.14529   , -41.12565   , -41.12398   ,
       -40.06196   , -41.11717   , -40.14078   , -40.09519407,
       -41.07619   , -41.16735   , -41.10481   , -41.06795   ,
       -41.16604   , -41.05831   , -41.13316   , -41.13495   ,
       -41.07643   , -41.06589   , -41.0903    , -41.13333   ,
       -41.138873  , -41.13188407, -41.13118   , -40.75826   ,
       -40.74221   , -41.12116   , -40.75845   , -41.16159   ,
       -41.10912   , -40.74748   , -41.13129   , -41.16919   ,
       -41.06361   , -40.15953   , -41.12425   , -41.13532   ,
       -40.76290871, -40.74807   , -41.10921   , -41.1331    ,
       -40.76194   , -40.069588  , -41.13299   , -41.168892  ,
       -40.73997   , -41.14635   , -41.12764   , -41.13282   ,
       -40.75027   , -41.133858  , -41.133904  , -41.13697   ,
       -41.1191    , -41.13437   , -41.13182   , -41.04601   ,
       -41.07006   , -40.13044   , -41.13289843, -40.00052   ,
       -41.06507   , -40.13234   , -41.12422   , -41.14977   ,
       -41.057999  , -41.13413   , -40.7631854 , -41.10497   ,
       -41.1629    , -41.16174   , -41.1372    , -41.14768   ,
       -41.13445   , -41.1334722 , -41.13875   , -41.13328   ,
       -41.11081   , -40.73464   , -41.0503    , -40.15197   ,
       -40.151752  , -41.13063   , -41.13465   , -41.12717   ,
       -40.7605    , -40.80657   , -41.12993   , -41.12854   ,
       -41.13363   , -40.77135   , -41.14553   , -41.07018   ,
       -41.13494   , -40.16348   , -40.72124   , -41.13638   ,
       -41.05923   , -41.15174   , -41.12665   , -40.15523   ,
       -40.87009   , -40.12444   , -41.07286   , -41.137     ,
       -41.13386   , -41.138149  , -41.06827   , -40.1248    ,
       -41.07712   , -41.12955   , -41.07104   , -41.11291   ,
       -41.14502   , -40.15226   , -41.11966   , -41.13846   ,
       -40.1524    , -41.163597  , -41.10732   , -40.15803   ,
       -41.06626   , -40.13588   , -41.152805  , -41.15411   ,
       -40.76334   , -41.11119   , -41.045878  , -40.12236   ,
       -40.15491   , -41.13325   , -40.06995   , -40.12565   ,
       -41.13455   , -40.13356   , -41.10241   , -41.14011   ,
       -40.14405   , -40.77420807, -41.13392   , -41.14004   ,
       -40.12741   , -40.75297   , -41.04700548, -41.13276   ,
       -40.15902   , -40.86975   , -40.7794726 , -40.05905   ,
       -41.0749    , -41.13298   , -41.12861   , -41.1048    ,
       -40.16316   , -40.15192   , -41.15727   , -41.17441   ,
       -40.11736624, -41.14063   , -41.09834   , -41.13565   ,
       -41.12747   , -40.77396   , -40.82806   , -40.74609   ,
       -40.7772    , -41.0780483 , -40.75203   , -41.15381   ,
       -41.13611   , -41.05039   , -41.10855   , -40.6486    ,
       -41.05079   , -40.80667   , -40.31272   , -41.1101    ,
       -40.13707   , -41.13287   , -40.15273   , -40.77828   ,
       -40.7511    , -41.0761477 , -40.74827   , -40.1533    ,
       -41.06955   , -41.07924702, -41.07604   , -40.76186   ,
       -41.10578   , -41.98949   , -40.79454   , -41.12808   ,
       -41.10467   , -40.7673538 , -40.13202375, -40.64969   ,
       -41.11172983, -41.12591   , -39.81890497, -41.1254    ,
       -40.11806   , -41.12231   , -41.10891   , -41.1344    ,
       -41.09715   , -41.07316   , -41.11635   , -40.14233   ,
       -41.1333    , -40.78164   , -41.04329   , -41.06094   ,
       -40.13597   , -40.12411   , -41.16795   , -41.13826   ,
       -41.06277   , -41.07579   , -41.14928   , -41.14863   ,
       -41.12264   , -41.13203   , -41.13654   , -41.13075   ,
       -54.7964592 , -54.79365   , -53.7820597 , -54.77835   ,
       -54.80543   , -54.79613   , -54.80579   , -54.8321462 ,
       -54.84303   , -54.80533   , -54.83314   , -54.80924   ,
       -54.807163  , -54.80578   , -54.79525407, -54.7964938 ,
       -54.81396   , -54.807125  , -54.80481   , -54.79701   ,
       -54.84224879, -54.8066    , -54.81331   , -54.81557961,
       -54.79609   , -54.82718   , -54.79621   , -53.59648   ,
       -54.82022   , -54.51128   , -54.81519053, -54.82841   ,
       -53.77048   , -54.80492   , -54.8217    , -53.77137   ,
       -54.80504   , -54.80895   , -54.80678   , -54.8156    ,
       -54.80805   , -53.78583   , -54.8300369 , -54.81026   ,
       -54.77159   , -54.80546566, -53.79724142, -54.81324   ,
       -54.80785   , -54.81562   , -54.79407883, -54.80923   ,
       -54.80525   , -54.8391    , -54.79894   , -54.7934077 ,
       -54.80652   , -54.79376   , -54.83354   , -54.80681   ,
       -54.82659746, -54.80777   , -54.81738899, -54.814804  ,
       -54.80994   , -54.8101    , -54.80346   , -54.83098   ,
       -54.78537   , -54.83747   , -54.8042    , -54.8150883 ,
       -54.80444   , -54.827     , -54.8076    , -54.7733557 ,
       -54.81664   , -54.81192   , -54.81951   , -54.79874   ,
       -54.79683   , -54.84064   , -54.8057095 , -54.80234   ,
       -54.80818   , -54.8021411 , -54.80497   , -54.803     ,
       -54.80314   , -54.79822   , -54.80639   , -54.815138  ,
       -54.8277    , -54.82869   , -54.80972   , -54.49769987,
       -54.80721   , -54.80398   , -54.82914   , -54.80655   ,
       -54.80534   , -54.80823   , -53.78347   , -54.80365   ,
       -54.803299  , -54.79306   , -54.80834   , -54.8449136 ,
       -54.80559   , -54.80918   , -54.80586   , -54.82034   ,
       -54.79326   , -54.8036    , -54.82273   , -54.8038    ,
       -54.81105   , -53.75746   , -53.77211   , -54.81892   ,
       -54.80963   , -54.80832   , -54.8220738 , -54.81921   ,
       -54.814922  , -54.81189   , -54.79653168, -54.81721   ,
       -54.80446   , -54.82449   , -54.79549   , -54.8109399 ,
       -54.80904   , -54.825     , -54.82428   , -54.8085    ,
       -54.80618   , -54.79997   , -54.80944   , -54.797092  ,
       -54.80953   , -54.79646   , -54.804787  , -54.80369   ,
       -54.81075   , -54.84263029, -54.84276   , -54.79906   ,
       -54.7992503 , -54.80717   , -54.81078   , -54.83388   ,
       -54.8045987 , -54.83797   , -54.80435   , -54.80491   ,
       -54.81314   , -54.80921   , -54.78905   , -54.75835   ,
       -54.81419   , -54.82255   , -54.81074   , -54.79775   ,
       -54.80339   , -54.78638   , -54.54960693, -54.50780311,
       -54.8078    , -54.7896    , -54.8315429 , -54.81196   ,
       -54.80796814, -54.82111   , -53.78299   , -54.79392   ,
       -54.79556   , -54.80928   , -54.80059   , -54.7985451 ,
       -54.79532   , -54.7943794 , -54.8135376 , -54.80854943,
       -54.80193   , -54.80191   , -54.80696   , -54.81293   ,
       -54.79656601, -54.81842   , -54.806     , -54.8217923 ,
       -54.82024   , -54.79728991, -54.81569   , -54.84128753,
       -54.8077    , -54.8188    , -54.80881   , -53.76836   ,
       -54.80326   , -54.80729   , -54.8086    , -54.80563   ,
       -54.80772   , -54.80163   , -54.80597   , -54.8089    ,
       -54.81583   , -54.81036   , -54.81972   , -54.795     ,
       -54.81902   , -54.79333   , -54.8063351 , -54.80413   ,
       -54.81959   , -54.7953467 , -54.80019   , -54.80547   ,
       -54.81398   , -54.80331   , -54.80079   , -54.80617   ,
       -54.79345   ])

In [552]:
# No tenemos valores nulos
df_alquileres['latitude'].isna().unique()

array([False])

+ Columna 6: longitude

In [553]:
df_alquileres['longitude'].info()

<class 'pandas.core.series.Series'>
Index: 1024 entries, 0 to 1079
Series name: longitude
Non-Null Count  Dtype
--------------  -----
1024 non-null   float64
dtypes: float64(1)
memory usage: 16.0 KB

In [554]:
# No tenemos valores nulos
# df_alquileres['longitude'].isna().unique()
df_alquileres['longitude'].unique()

array([-65.0375173 , -65.03726515, -65.03310833, ..., -68.30871   ,
       -68.3178    , -68.27647   ])